openapi: 3.0.3
info:
  title: Unleash API
  version: 5.2.0-main
servers:
- url: https://us.app.unleash-hosted.com/ushosted
security:
- apiKey: []
tags:
- name: Addons
  description: Create, update, and delete [Unleash addons](https://docs.getunleash.io/addons).
- name: Admin UI
  description: Configuration for the Unleash Admin UI. These endpoints should not
    be relied upon and can change at any point without prior notice.
- name: API tokens
  description: Create, update, and delete [Unleash API tokens](https://docs.getunleash.io/reference/api-tokens-and-client-keys).
- name: Archive
  description: Revive or permanently delete [archived feature toggles](https://docs.getunleash.io/advanced/archived_toggles).
- name: Auth
  description: Manage logins, passwords, etc.
- name: Client
  description: Endpoints for [Unleash server-side clients](https://docs.getunleash.io/reference/sdks).
- name: Context
  description: Create, update, and delete [context fields](https://docs.getunleash.io/reference/unleash-context)
    that Unleash is aware of.
- name: Edge
  description: Endpoints related to Unleash on the Edge.
- name: Environments
  description: Create, update, delete, enable or disable [environments](https://docs.getunleash.io/reference/environments)
    for this Unleash instance.
- name: Events
  description: Read events from this Unleash instance.
- name: Features
  description: Create, update, and delete [features toggles](https://docs.getunleash.io/reference/feature-toggles).
- name: Frontend API
  description: API for connecting client-side (frontend) applications to Unleash.
- name: Import/Export
  description: '[Import and export](https://docs.getunleash.io/deploy/import_export)
    the state of your Unleash instance.'
- name: Instance Admin
  description: Instance admin endpoints used to manage the Unleash instance itself.
- name: Maintenance
  description: Enable/disable the maintenance mode of Unleash.
- name: Metrics
  description: Register, read, or delete metrics recorded by Unleash.
- name: Notifications
  description: API for managing [notifications](https://docs.getunleash.io/reference/notifications).
- name: Operational
  description: Endpoints related to the operational status of this Unleash instance.
- name: Personal access tokens
  description: Create, update, and delete [Personal access tokens](https://docs.getunleash.io/reference/api-tokens-and-client-keys#personal-access-tokens).
- name: Playground
  description: Evaluate an Unleash context against your feature toggles.
- name: Projects
  description: Create, update, and delete [Unleash projects](https://docs.getunleash.io/reference/projects).
- name: Public signup tokens
  description: Create, update, and delete [Unleash Public Signup tokens](https://docs.getunleash.io/reference/public-signup-tokens).
- name: Segments
  description: Create, update, delete, and manage [segments](https://docs.getunleash.io/reference/segments).
- name: Service Accounts
  description: Endpoints for managing [Service Accounts](https://docs.getunleash.io/reference/service-accounts),
    which enable programmatic access to the Unleash API.
- name: Strategies
  description: Create, update, delete, manage [custom strategies](https://docs.getunleash.io/reference/custom-activation-strategies).
- name: Tags
  description: Create, update, and delete [tags and tag types](https://docs.getunleash.io/reference/tags).
- name: Telemetry
  description: API for information about telemetry collection
- name: Unstable
  description: Experimental endpoints that may change or disappear at any time.
- name: Users
  description: Manage users and passwords.
paths:
  /auth/simple/login:
    post:
      tags:
      - Auth
      summary: Log in
      description: Logs in the user and creates an active session
      operationId: login
      requestBody:
        description: loginSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/loginSchema'
        required: true
      responses:
        "200":
          description: userSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
  /api/admin/auth/google/settings:
    get:
      tags:
      - Auth
      summary: Get Google auth settings
      description: Returns the current settings for Google Authentication (deprecated,
        please use OpenID instead)
      operationId: getGoogleSettings
      responses:
        "200":
          description: googleSettingsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googleSettingsSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
      deprecated: true
    post:
      tags:
      - Auth
      summary: Set Google auth options
      description: Updates the settings for Google Authentication (deprecated, please
        use OpenID instead)
      operationId: setGoogleSettings
      requestBody:
        description: googleSettingsSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/googleSettingsSchema'
        required: true
      responses:
        "200":
          description: googleSettingsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googleSettingsSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
      deprecated: true
  /api/admin/auth/saml/settings:
    get:
      tags:
      - Auth
      summary: Get SAML auth settings
      description: Returns the current settings for SAML authentication
      operationId: getSamlSettings
      responses:
        "200":
          description: samlSettingsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/samlSettingsSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
    post:
      tags:
      - Auth
      summary: Update SAML auth settings
      description: Updates the settings for SAML Authentication
      operationId: setSamlSettings
      requestBody:
        description: samlSettingsSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/samlSettingsSchema'
        required: true
      responses:
        "200":
          description: samlSettingsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/samlSettingsSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /api/admin/auth/oidc/settings:
    get:
      tags:
      - Auth
      summary: Get OIDC auth settings
      description: Returns the current settings for OIDC Authentication
      operationId: getOidcSettings
      responses:
        "200":
          description: oidcSettingsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oidcSettingsSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
    post:
      tags:
      - Auth
      operationId: setOidcSettings
      requestBody:
        description: oidcSettingsSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/oidcSettingsSchema'
        required: true
      responses:
        "200":
          description: oidcSettingsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oidcSettingsSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /api/admin/auth/simple/settings:
    get:
      tags:
      - Auth
      summary: Get Simple auth settings
      description: Is simple authentication (username/password) enabled for this server
      operationId: getSimpleSettings
      responses:
        "200":
          description: passwordAuthSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/passwordAuthSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
    post:
      tags:
      - Auth
      summary: Update Simple auth settings
      description: Enable or disable simple authentication (username/password)
      operationId: setSimpleSettings
      requestBody:
        description: passwordAuthSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/passwordAuthSchema'
        required: true
      responses:
        "200":
          description: passwordAuthSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/passwordAuthSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /api/admin/groups:
    get:
      tags:
      - Users
      operationId: getGroups
      responses:
        "200":
          description: groupsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsSchema'
    post:
      tags:
      - Users
      operationId: createGroup
      requestBody:
        description: groupSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/groupSchema'
        required: true
      responses:
        "200":
          description: groupSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupSchema'
  /api/admin/groups/{groupId}:
    get:
      tags:
      - Users
      operationId: getGroup
      parameters:
      - name: groupId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: groupSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupSchema'
    put:
      tags:
      - Users
      operationId: updateGroup
      parameters:
      - name: groupId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: groupSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/groupSchema'
        required: true
      responses:
        "200":
          description: groupSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupSchema'
    delete:
      tags:
      - Users
      operationId: deleteGroup
      parameters:
      - name: groupId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
  /api/admin/roles:
    get:
      tags:
      - Users
      operationId: getRoles
      responses:
        "200":
          description: rolesWithVersionSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rolesWithVersionSchema'
    post:
      tags:
      - Users
      operationId: createRole
      requestBody:
        description: createRoleWithPermissionsSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRoleWithPermissionsSchema'
        required: true
      responses:
        "200":
          description: roleWithVersionSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roleWithVersionSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /api/admin/roles/{roleId}:
    get:
      tags:
      - Users
      operationId: getRoleById
      parameters:
      - name: roleId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: roleWithPermissionsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roleWithPermissionsSchema'
    put:
      tags:
      - Users
      operationId: updateRole
      parameters:
      - name: roleId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: createRoleWithPermissionsSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRoleWithPermissionsSchema'
        required: true
      responses:
        "200":
          description: roleWithVersionSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roleWithVersionSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
    delete:
      tags:
      - Users
      operationId: deleteRole
      parameters:
      - name: roleId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
        "409":
          description: The provided resource can not be created or updated because
            it would conflict with the current state of the resource or with an already
            existing resource, respectively.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_409'
  /api/admin/roles/validate:
    post:
      tags:
      - Users
      operationId: validateRole
      requestBody:
        description: createRoleWithPermissionsSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRoleWithPermissionsSchema'
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /api/admin/environments:
    get:
      tags:
      - Environments
      summary: Get all environments
      description: Retrieves all environments that exist in this Unleash instance.
      operationId: getAllEnvironments
      responses:
        "200":
          description: environmentsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentsSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
    post:
      tags:
      - Environments
      summary: Creates a new environment
      description: Uses the details provided in the payload to create a new environment
      operationId: createEnvironment
      requestBody:
        description: createEnvironmentSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createEnvironmentSchema'
        required: true
      responses:
        "201":
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              style: simple
              explode: false
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
  /api/admin/environments/validate:
    post:
      tags:
      - Environments
      summary: Validates if an environment name exists
      description: Uses the name provided in the body of the request to validate if
        the given name exists or not
      operationId: validateEnvironmentName
      requestBody:
        description: nameSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nameSchema'
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
  /api/admin/environments/update/{name}:
    put:
      tags:
      - Environments
      summary: Updates an environment by name
      description: Given an environment by name updates the environment with the given
        payload. Note that `name`, `enabled` and `protected` cannot be changed by
        this API
      operationId: updateEnvironment
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: updateEnvironmentSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateEnvironmentSchema'
        required: true
      responses:
        "200":
          description: environmentSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
  /api/admin/environments/{name}:
    get:
      tags:
      - Environments
      summary: Get the environment with `name`
      description: Retrieves the environment with `name` if it exists in this Unleash
        instance
      operationId: getEnvironment
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: environmentSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
    delete:
      tags:
      - Environments
      summary: Deletes an environment by name
      description: Given an existing environment by name, this endpoint will attempt
        to delete it
      operationId: removeEnvironment
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
  /api/admin/environments/{name}/clone:
    post:
      tags:
      - Environments
      summary: Clones an environment
      description: Given an existing environment name and a set of options, this will
        create a copy of that environment
      operationId: cloneEnvironment
      parameters:
      - name: name
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
  /api/admin/service-account:
    get:
      tags:
      - Service Accounts
      summary: List service accounts.
      description: Returns the list of all service accounts.
      operationId: getServiceAccounts
      responses:
        "200":
          description: serviceAccountsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceAccountsSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
    post:
      tags:
      - Service Accounts
      summary: Create a service account.
      description: Creates a new service account.
      operationId: createServiceAccount
      requestBody:
        description: createServiceAccountSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createServiceAccountSchema'
        required: true
      responses:
        "201":
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              style: simple
              explode: false
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceAccountSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "409":
          description: The provided resource can not be created or updated because
            it would conflict with the current state of the resource or with an already
            existing resource, respectively.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_409'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /api/admin/service-account/{id}:
    put:
      tags:
      - Service Accounts
      summary: Update a service account.
      description: Updates an existing service account identified by its id.
      operationId: updateServiceAccount
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: updateServiceAccountSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateServiceAccountSchema'
        required: true
      responses:
        "200":
          description: serviceAccountSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceAccountSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
    delete:
      tags:
      - Service Accounts
      summary: Delete a service account.
      description: Deletes an existing service account identified by its id.
      operationId: deleteServiceAccount
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
  /api/admin/service-account/{id}/token:
    get:
      tags:
      - Service Accounts
      summary: List all tokens for a service account.
      description: Returns the list of all tokens for a service account identified
        by the id.
      operationId: getServiceAccountTokens
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: patsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patsSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
    post:
      tags:
      - Service Accounts
      summary: Create a token for a service account.
      description: Creates a new token for the service account identified by the id.
      operationId: createServiceAccountToken
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: patSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patSchema'
        required: true
      responses:
        "201":
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              style: simple
              explode: false
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
        "409":
          description: The provided resource can not be created or updated because
            it would conflict with the current state of the resource or with an already
            existing resource, respectively.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_409'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /api/admin/service-account/{id}/token/{tokenId}:
    delete:
      tags:
      - Service Accounts
      summary: Delete a token for a service account.
      description: Deletes a token for the service account identified both by the
        service account's id and the token's id.
      operationId: deleteServiceAccountToken
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: tokenId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
  /api/admin/features-batch/export:
    post:
      tags:
      - Import/Export
      summary: Export feature toggles from an environment
      description: Exports all features listed in the `features` property from the
        environment specified in the request body. If set to `true`, the `downloadFile`
        property will let you download a file with the exported data. Otherwise, the
        export data is returned directly as JSON. Refer to the documentation for more
        information about [Unleash's export functionality](https://docs.getunleash.io/reference/deploy/environment-import-export#export).
      operationId: exportFeatures
      requestBody:
        description: exportQuerySchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/exportQuerySchema'
        required: true
      responses:
        "200":
          description: exportResultSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exportResultSchema'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
  /api/admin/features-batch/validate:
    post:
      tags:
      - Import/Export
      summary: Validate feature import data
      description: Validates a feature toggle data set. Checks whether the data can
        be imported into the specified project and environment. The returned value
        is an object that contains errors, warnings, and permissions required to perform
        the import, as described in the [import documentation](https://docs.getunleash.io/reference/deploy/environment-import-export#import).
      operationId: validateImport
      requestBody:
        description: importTogglesSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/importTogglesSchema'
        required: true
      responses:
        "200":
          description: importTogglesValidateSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/importTogglesValidateSchema'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
  /api/admin/features-batch/import:
    post:
      tags:
      - Import/Export
      summary: Import feature toggles
      description: '[Import feature toggles](https://docs.getunleash.io/reference/deploy/environment-import-export#import)
        into a specific project and environment.'
      operationId: importToggles
      requestBody:
        description: importTogglesSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/importTogglesSchema'
        required: true
      responses:
        "200":
          description: This response has no body.
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
  /api/admin/logins:
    get:
      tags:
      - Unstable
      summary: Get all login events.
      description: Returns **all** login events in the Unleash system. You can optionally
        get them in CSV format by specifying the `Accept` header as `text/csv`.
      operationId: getLoginHistory
      responses:
        "200":
          description: loginHistorySchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/loginHistorySchema'
            text/csv:
              schema:
                type: string
        "204":
          description: This response has no body.
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
  /api/admin/projects:
    get:
      tags:
      - Projects
      summary: Get a list of all projects.
      description: This endpoint returns an list of all the projects in the Unleash
        instance.
      operationId: getProjects
      responses:
        "200":
          description: projectsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectsSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
    post:
      tags:
      - Projects
      operationId: createProject
      requestBody:
        description: createProjectSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createProjectSchema'
        required: true
      responses:
        "201":
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              style: simple
              explode: false
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectCreatedSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
  /api/admin/projects/validate:
    post:
      tags:
      - Projects
      operationId: validateProject
      requestBody:
        description: validateProjectSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validateProjectSchema'
        required: true
      responses:
        "200":
          description: This response has no body.
  /api/admin/projects/{projectId}:
    get:
      tags:
      - Projects
      summary: Get an overview of a project.
      description: This endpoint returns an overview of the specified projects stats,
        project health, number of members, which environments are configured, and
        the features in the project.
      operationId: getProjectOverview
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: projectOverviewSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectOverviewSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
    put:
      tags:
      - Projects
      operationId: updateProject
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: updateProjectSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateProjectSchema'
        required: true
      responses:
        "200":
          description: This response has no body.
    delete:
      tags:
      - Projects
      operationId: deleteProject
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
  /api/admin/projects/{projectId}/users:
    get:
      tags:
      - Projects
      operationId: getProjectUsers
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: projectUsersSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectUsersSchema'
      deprecated: true
  /api/admin/projects/{projectId}/access:
    get:
      tags:
      - Projects
      operationId: getProjectAccess
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: projectAccessSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectAccessSchema'
  /api/admin/projects/{projectId}/users/{userId}/roles/{roleId}:
    put:
      tags:
      - Projects
      operationId: changeRoleForUser
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: roleId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
    post:
      tags:
      - Projects
      operationId: addRoleToUser
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: roleId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
    delete:
      tags:
      - Projects
      operationId: removeRoleForUser
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: userId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: roleId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
  /api/admin/projects/{projectId}/groups/{groupId}/roles/{roleId}:
    put:
      tags:
      - Projects
      operationId: changeRoleForGroup
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: groupId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: roleId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
    delete:
      tags:
      - Projects
      operationId: removeRoleFromGroup
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: groupId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: roleId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
  /api/admin/projects/{projectId}/role/{roleId}/access:
    post:
      tags:
      - Projects
      operationId: addAccessToProject
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: roleId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
  /api/admin/projects/{projectId}/features/{featureName}/changeProject:
    post:
      tags:
      - Features
      summary: Move feature to project
      description: Moves the specified feature to the new project in the request schema.
        Requires you to have permissions to move the feature toggle in both projects.
        Features that are included in any active change requests can not be moved.
      operationId: changeProject
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: featureName
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: changeProjectSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changeProjectSchema'
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /api/admin/projects/{projectId}/settings:
    get:
      tags:
      - Projects
      operationId: getProjectSettings
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: projectSettingsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectSettingsSchema'
        "404":
          description: This response has no body.
  /api/admin/permissions:
    get:
      tags:
      - Auth
      summary: Gets available permissions
      description: Returns a list of available permissions
      operationId: getPermissions
      responses:
        "200":
          description: adminPermissionsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adminPermissionsSchema'
  /api/admin/segments/validate:
    post:
      tags:
      - Segments
      summary: Validates if a segment name exists
      description: Uses the name provided in the body of the request to validate if
        the given name exists or not
      operationId: validateSegment
      requestBody:
        description: nameSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nameSchema'
        required: true
      responses:
        "204":
          description: This response has no body.
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "409":
          description: The provided resource can not be created or updated because
            it would conflict with the current state of the resource or with an already
            existing resource, respectively.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_409'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /api/admin/segments/strategies/{strategyId}:
    get:
      tags:
      - Segments
      summary: Get strategy segments
      description: Retrieve all segments that are referenced by the specified strategy.
        Returns an empty list of segments if the strategy ID doesn't exist.
      operationId: getSegmentsByStrategyId
      parameters:
      - name: strategyId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: segmentsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentsSchema'
  /api/admin/segments/strategies:
    post:
      tags:
      - Strategies
      summary: Update strategy segments
      description: Sets the segments of the strategy specified to be exactly the ones
        passed in the payload. Any segments that were used by the strategy before
        will be removed if they are not in the provided list of segments.
      operationId: updateFeatureStrategySegments
      requestBody:
        description: updateFeatureStrategySegmentsSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateFeatureStrategySegmentsSchema'
        required: true
      responses:
        "201":
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              style: simple
              explode: false
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateFeatureStrategySegmentsSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /api/admin/segments/{id}/strategies:
    get:
      tags:
      - Segments
      summary: Get strategies that reference segment
      description: Retrieve all strategies that reference the specified segment.
      operationId: getStrategiesBySegmentId
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: adminStrategiesSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adminStrategiesSchema'
  /api/admin/segments/{id}:
    get:
      tags:
      - Segments
      summary: Get a segment
      description: Retrieves a segment based on its ID.
      operationId: getSegment
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: adminSegmentSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adminSegmentSchema'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
    put:
      tags:
      - Segments
      summary: Update segment by id
      description: Updates the content of the segment with the provided payload. Any
        fields not specified will be left untouched.
      operationId: updateSegment
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: This response has no body.
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "409":
          description: The provided resource can not be created or updated because
            it would conflict with the current state of the resource or with an already
            existing resource, respectively.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_409'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
    delete:
      tags:
      - Segments
      summary: Deletes a segment by id
      description: Deletes a segment by its id, if not found returns a 409 error
      operationId: removeSegment
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "204":
          description: This response has no body.
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "409":
          description: The provided resource can not be created or updated because
            it would conflict with the current state of the resource or with an already
            existing resource, respectively.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_409'
  /api/admin/segments:
    get:
      tags:
      - Segments
      summary: Get all segments
      description: Retrieves all segments that exist in this Unleash instance.
      operationId: getSegments
      responses:
        "200":
          description: segmentsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentsSchema'
    post:
      tags:
      - Segments
      summary: Create a new segment
      description: Creates a new segment using the payload provided
      operationId: createSegment
      requestBody:
        description: upsertSegmentSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/upsertSegmentSchema'
        required: true
      responses:
        "201":
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              style: simple
              explode: false
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adminSegmentSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "409":
          description: The provided resource can not be created or updated because
            it would conflict with the current state of the resource or with an already
            existing resource, respectively.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_409'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /api/admin/metrics/rps:
    get:
      tags:
      - Metrics
      summary: Gets usage data
      description: Gets usage data per app/endpoint from a prometheus compatible metrics
        endpoint
      operationId: getRequestsPerSecond
      responses:
        "200":
          description: requestsPerSecondSegmentedSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestsPerSecondSegmentedSchema'
  /api/admin/notifications:
    get:
      tags:
      - Unstable
      summary: Retrieves a list of notifications
      description: A user may get relevant notifications from the projects they are
        a member of
      operationId: getNotifications
      responses:
        "200":
          description: notificationsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notificationsSchema'
  /api/admin/notifications/read:
    post:
      tags:
      - Unstable
      summary: Mark notifications as read
      description: Allow to select which notifications were read and saving a read
        date
      operationId: markNotificationsAsRead
      requestBody:
        description: markNotificationsAsReadSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/markNotificationsAsReadSchema'
        required: true
      responses:
        "200":
          description: This response has no body.
  /health:
    get:
      tags:
      - Operational
      summary: Get instance operational status
      description: This operation returns information about whether this Unleash instance
        is healthy and ready to serve requests or not. Typically used by your deployment
        orchestrator (e.g. Kubernetes, Docker Swarm, Mesos, et al.).
      operationId: getHealth
      responses:
        "200":
          description: healthCheckSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckSchema'
        "500":
          description: healthCheckSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckSchema'
  /invite/{token}/validate:
    get:
      tags:
      - Public signup tokens
      summary: Check whether a public sign-up token exists, has not expired and is
        enabled
      operationId: validatePublicSignupToken
      parameters:
      - name: token
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
  /invite/{token}/signup:
    post:
      tags:
      - Public signup tokens
      summary: Add a user via a signup token
      description: Create a user with the viewer root role and link them to the provided
        signup token
      operationId: addPublicSignupTokenUser
      parameters:
      - name: token
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: createInvitedUserSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createInvitedUserSchema'
        required: true
      responses:
        "200":
          description: userSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "409":
          description: The provided resource can not be created or updated because
            it would conflict with the current state of the resource or with an already
            existing resource, respectively.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_409'
  /auth/reset/validate:
    get:
      tags:
      - Auth
      summary: Validates a token
      description: If the token is valid returns the user that owns the token
      operationId: validateToken
      responses:
        "200":
          description: tokenUserSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tokenUserSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /auth/reset/password:
    post:
      tags:
      - Auth
      summary: Changes a user password
      description: Allows users with a valid reset token to reset their password without
        remembering their old password
      operationId: changePassword
      requestBody:
        description: changePasswordSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changePasswordSchema'
        required: true
      responses:
        "200":
          description: This response has no body.
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /auth/reset/validate-password:
    post:
      tags:
      - Auth
      summary: Validates password
      description: Verifies that the password adheres to the [Unleash password guidelines](https://docs.getunleash.io/reference/deploy/securing-unleash#password-requirements)
      operationId: validatePassword
      requestBody:
        description: validatePasswordSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validatePasswordSchema'
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /auth/reset/password-email:
    post:
      tags:
      - Auth
      summary: Reset password
      description: Requests a password reset email for the user. This email can be
        used to reset the password for a user that has forgotten their password
      operationId: sendResetPasswordEmail
      requestBody:
        description: emailSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailSchema'
        required: true
      responses:
        "200":
          description: This response has no body.
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /api/admin/features:
    get:
      tags:
      - Features
      summary: Get all features (deprecated)
      description: Gets all feature toggles with their full configuration. This endpoint
        is **deprecated**. You should  use the project-based endpoint instead (`/api/admin/projects/<project-id>/features`).
      operationId: getAllToggles
      responses:
        "200":
          description: featuresSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/featuresSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
      deprecated: true
  /api/admin/features/validate:
    post:
      tags:
      - Features
      summary: Validate feature name
      description: 'Validates a feature toggle name: checks whether the name is URL-friendly
        and whether a feature with the given name already exists. Returns 200 if the
        feature name is compliant and unused.'
      operationId: validateFeature
      requestBody:
        description: validateFeatureSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validateFeatureSchema'
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "409":
          description: The provided resource can not be created or updated because
            it would conflict with the current state of the resource or with an already
            existing resource, respectively.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_409'
        "415":
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_415'
  /api/admin/features/{featureName}/tags:
    get:
      tags:
      - Features
      summary: Get all tags for a feature.
      description: Retrieves all the tags for a feature name. If the feature does
        not exist it returns an empty list.
      operationId: listTags
      parameters:
      - name: featureName
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: tagsSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagsSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
    put:
      tags:
      - Features
      summary: Updates multiple tags for a feature.
      description: Receives a list of tags to add and a list of tags to remove that
        are mandatory but can be empty. All tags under addedTags are first added to
        the feature and then all tags under removedTags are removed from the feature.
      operationId: updateTags
      parameters:
      - name: featureName
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: updateTagsSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateTagsSchema'
        required: true
      responses:
        "200":
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              style: simple
              explode: false
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagsSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
    post:
      tags:
      - Features
      summary: Adds a tag to a feature.
      description: Adds a tag to a feature if the feature and tag type exist in the
        system. The operation is idempotent, so adding an existing tag will result
        in a successful response.
      operationId: addTag
      parameters:
      - name: featureName
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        description: tagSchema
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tagSchema'
        required: true
      responses:
        "201":
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              style: simple
              explode: false
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagSchema'
        "400":
          description: The request data does not match what we expect.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_400'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
  /api/admin/features/{featureName}/tags/{type}/{value}:
    delete:
      tags:
      - Features
      summary: Removes a tag from a feature.
      description: Removes a tag from a feature. If the feature exists but the tag
        does not, it returns a successful response.
      operationId: removeTag
      parameters:
      - name: featureName
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: type
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: value
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
        "404":
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_404'
  /api/admin/feature-types:
    get:
      tags:
      - Features
      summary: Get all feature types
      description: Retrieves all feature types that exist in this Unleash instance,
        along with their descriptions and lifetimes.
      operationId: getAllFeatureTypes
      responses:
        "200":
          description: featureTypesSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/featureTypesSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
  /api/admin/archive/features:
    get:
      tags:
      - Archive
      operationId: getArchivedFeatures
      responses:
        "200":
          description: featuresSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/featuresSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
      deprecated: true
  /api/admin/archive/features/{projectId}:
    get:
      tags:
      - Archive
      operationId: getArchivedFeaturesByProjectId
      parameters:
      - name: projectId
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: featuresSchema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/featuresSchema'
        "401":
          description: Authorization information is missing or invalid. Provide a
            valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_401'
        "403":
          description: The provided user credentials are valid, but the user does
            not have the necessary permissions to perform this operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_403'
      deprecated: true
  /api/admin/archive/{featureName}:
    delete:
      tags:
      - Archive
      summary: Archives a feature
      description: This endpoint archives the specified feature.
      operationId: deleteFeature
      parameters:
      - name: featureName
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: This response has no body.
        "401":
[...]
