{
  "openapi": "3.0.3",
  "info": {
    "title": "Unleash API",
    "version": "6.7.2"
  },
  "servers": [
    {
      "url": "https://us.app.unleash-hosted.com/ushosted"
    }
  ],
  "paths": {
    "/api/admin/auth/saml/settings": {
      "get": {
        "operationId": "getSamlSettings",
        "summary": "Get SAML auth settings",
        "description": "Returns the current settings for SAML authentication",
        "responses": {
          "200": {
            "description": "samlSettingsResponseSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/samlSettingsResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      },
      "post": {
        "operationId": "setSamlSettings",
        "summary": "Update SAML auth settings",
        "description": "Updates the settings for SAML Authentication",
        "requestBody": {
          "description": "samlSettingsSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/samlSettingsSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "samlSettingsResponseSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/samlSettingsResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The operation does not support request payloads of the provided type. Please ensure that you're using one of the listed payload types and that you have specified the right content type in the \"content-type\" header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ContentTypeerror"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "We do not accept the content-type you provided (application/xml). Try using one of the content-types we do accept instead (application/json) and make sure the body is in the corresponding format."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/admin/auth/oidc/settings": {
      "get": {
        "operationId": "getOidcSettings",
        "summary": "Get OIDC auth settings",
        "description": "Returns the current settings for OIDC Authentication",
        "responses": {
          "200": {
            "description": "oidcSettingsResponseSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/oidcSettingsResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      },
      "post": {
        "operationId": "setOidcSettings",
        "summary": "Set OIDC settings",
        "description": "Configure OpenID Connect as a login provider for Unleash.",
        "requestBody": {
          "description": "oidcSettingsSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/oidcSettingsSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "oidcSettingsResponseSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/oidcSettingsResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The operation does not support request payloads of the provided type. Please ensure that you're using one of the listed payload types and that you have specified the right content type in the \"content-type\" header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ContentTypeerror"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "We do not accept the content-type you provided (application/xml). Try using one of the content-types we do accept instead (application/json) and make sure the body is in the corresponding format."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/admin/auth/simple/settings": {
      "get": {
        "operationId": "getSimpleSettings",
        "summary": "Get Simple auth settings",
        "description": "Is simple authentication (username/password) enabled for this server",
        "responses": {
          "200": {
            "description": "passwordAuthSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passwordAuthSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      },
      "post": {
        "operationId": "setSimpleSettings",
        "summary": "Update Simple auth settings",
        "description": "Enable or disable simple authentication (username/password)",
        "requestBody": {
          "description": "passwordAuthSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/passwordAuthSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "passwordAuthSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/passwordAuthSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The operation does not support request payloads of the provided type. Please ensure that you're using one of the listed payload types and that you have specified the right content type in the \"content-type\" header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ContentTypeerror"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "We do not accept the content-type you provided (application/xml). Try using one of the content-types we do accept instead (application/json) and make sure the body is in the corresponding format."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/admin/roles": {
      "get": {
        "operationId": "getRoles",
        "summary": "Get a list of roles",
        "description": "Get a list of project, root and custom roles for Role-Based Access Control",
        "responses": {
          "200": {
            "description": "rolesWithVersionSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rolesWithVersionSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "post": {
        "operationId": "createRole",
        "summary": "Create a new role",
        "description": "Create a new custom role for Role-Based Access Control",
        "requestBody": {
          "description": "createRoleWithPermissionsSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoleWithPermissionsSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "roleWithVersionSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/roleWithVersionSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The provided resource can not be created or updated because it would conflict with the current state of the resource or with an already existing resource, respectively.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NameExistsError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "There is already a feature called \"my-awesome-feature\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/api/admin/roles/{roleId}": {
      "get": {
        "operationId": "getRoleById",
        "summary": "Get a single role",
        "description": "Get a single role by role id",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "roleWithPermissionsSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/roleWithPermissionsSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "put": {
        "operationId": "updateRole",
        "summary": "Update a role",
        "description": "Update a custom role by role id",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "createRoleWithPermissionsSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoleWithPermissionsSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "roleWithVersionSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/roleWithVersionSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The provided resource can not be created or updated because it would conflict with the current state of the resource or with an already existing resource, respectively.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NameExistsError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "There is already a feature called \"my-awesome-feature\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "delete": {
        "operationId": "deleteRole",
        "summary": "Delete a custom role",
        "description": "Delete a custom role by id. You cannot delete built-in roles or roles that are in use.",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response has no body."
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/api/admin/service-account": {
      "get": {
        "operationId": "getServiceAccounts",
        "summary": "List service accounts.",
        "description": "Returns the list of all service accounts.",
        "responses": {
          "200": {
            "description": "#/components/schemas/serviceAccountsSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceAccountsSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service Accounts"
        ]
      },
      "post": {
        "operationId": "createServiceAccount",
        "summary": "Create a service account.",
        "description": "Creates a new service account.",
        "requestBody": {
          "description": "#/components/schemas/createServiceAccountSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createServiceAccountSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "location": {
                "description": "The location of the newly created resource.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceAccountSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The provided resource can not be created or updated because it would conflict with the current state of the resource or with an already existing resource, respectively.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NameExistsError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "There is already a feature called \"my-awesome-feature\"."
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The operation does not support request payloads of the provided type. Please ensure that you're using one of the listed payload types and that you have specified the right content type in the \"content-type\" header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ContentTypeerror"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "We do not accept the content-type you provided (application/xml). Try using one of the content-types we do accept instead (application/json) and make sure the body is in the corresponding format."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service Accounts"
        ]
      }
    },
    "/api/admin/service-account/{id}": {
      "put": {
        "operationId": "updateServiceAccount",
        "summary": "Update a service account.",
        "description": "Updates an existing service account identified by its id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "#/components/schemas/updateServiceAccountSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateServiceAccountSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "#/components/schemas/serviceAccountSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/serviceAccountSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The operation does not support request payloads of the provided type. Please ensure that you're using one of the listed payload types and that you have specified the right content type in the \"content-type\" header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ContentTypeerror"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "We do not accept the content-type you provided (application/xml). Try using one of the content-types we do accept instead (application/json) and make sure the body is in the corresponding format."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service Accounts"
        ]
      },
      "delete": {
        "operationId": "deleteServiceAccount",
        "summary": "Delete a service account.",
        "description": "Deletes an existing service account identified by its id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response has no body."
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service Accounts"
        ]
      }
    },
    "/api/admin/service-account/{id}/token": {
      "get": {
        "operationId": "getServiceAccountTokens",
        "summary": "List all tokens for a service account.",
        "description": "Returns the list of all tokens for a service account identified by the id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "#/components/schemas/patsSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patsSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service Accounts"
        ]
      },
      "post": {
        "operationId": "createServiceAccountToken",
        "summary": "Create a token for a service account.",
        "description": "Creates a new token for the service account identified by the id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "#/components/schemas/createPatSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createPatSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "location": {
                "description": "The location of the newly created resource.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/patSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The provided resource can not be created or updated because it would conflict with the current state of the resource or with an already existing resource, respectively.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NameExistsError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "There is already a feature called \"my-awesome-feature\"."
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The operation does not support request payloads of the provided type. Please ensure that you're using one of the listed payload types and that you have specified the right content type in the \"content-type\" header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ContentTypeerror"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "We do not accept the content-type you provided (application/xml). Try using one of the content-types we do accept instead (application/json) and make sure the body is in the corresponding format."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service Accounts"
        ]
      }
    },
    "/api/admin/service-account/{id}/token/{tokenId}": {
      "delete": {
        "operationId": "deleteServiceAccountToken",
        "summary": "Delete a token for a service account.",
        "description": "Deletes a token for the service account identified both by the service account's id and the token's id.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response has no body."
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service Accounts"
        ]
      }
    },
    "/api/admin/projects": {
      "get": {
        "operationId": "getProjects",
        "summary": "Get a list of all projects.",
        "description": "This endpoint returns an list of all the projects in the Unleash instance.",
        "parameters": [
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "projectsSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/projectsSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create project",
        "description": "Create a new [Unleash project](https://docs.getunleash.io/reference/projects).",
        "requestBody": {
          "description": "createProjectSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createProjectSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "location": {
                "description": "The location of the newly created resource.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/projectCreatedSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The operation does not support request payloads of the provided type. Please ensure that you're using one of the listed payload types and that you have specified the right content type in the \"content-type\" header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ContentTypeerror"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "We do not accept the content-type you provided (application/xml). Try using one of the content-types we do accept instead (application/json) and make sure the body is in the corresponding format."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      }
    },
    "/api/admin/projects/{projectId}": {
      "put": {
        "operationId": "updateProject",
        "summary": "Update project",
        "description": "Update a project with new configuration. Any fields not provided are ignored.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
[...]
