{
  "openapi": "3.0.3",
  "info": {
    "title": "Unleash API",
    "version": "5.6.0-main"
  },
  "servers": [
    {
      "url": "https://us.app.unleash-hosted.com/ushosted"
    }
  ],
  "paths": {
    "/api/admin/roles": {
      "get": {
        "operationId": "getRoles",
        "summary": "Get a list of roles",
        "description": "Get a list of project, root and custom roles for Role-Based Access Control",
        "responses": {
          "200": {
            "description": "rolesWithVersionSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rolesWithVersionSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "post": {
        "operationId": "createRole",
        "summary": "Create a new role",
        "description": "Create a new custom role for Role-Based Access Control",
        "requestBody": {
          "description": "createRoleWithPermissionsSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoleWithPermissionsSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "roleWithVersionSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/roleWithVersionSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The provided resource can not be created or updated because it would conflict with the current state of the resource or with an already existing resource, respectively.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NameExistsError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "There is already a feature called \"my-awesome-feature\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/api/admin/roles/{roleId}": {
      "get": {
        "operationId": "getRoleById",
        "summary": "Get a single role",
        "description": "Get a single role by role id",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "roleWithPermissionsSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/roleWithPermissionsSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "put": {
        "operationId": "updateRole",
        "summary": "Update a role",
        "description": "Update a custom role by role id",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "createRoleWithPermissionsSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createRoleWithPermissionsSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "roleWithVersionSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/roleWithVersionSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "The provided resource can not be created or updated because it would conflict with the current state of the resource or with an already existing resource, respectively.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NameExistsError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "There is already a feature called \"my-awesome-feature\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "delete": {
        "operationId": "deleteRole",
        "summary": "Delete a custom role",
        "description": "Delete a custom role by id. You cannot delete built-in roles or roles that are in use.",
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response has no body."
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/api/admin/projects": {
      "get": {
        "operationId": "getProjects",
        "summary": "Get a list of all projects.",
        "description": "This endpoint returns an list of all the projects in the Unleash instance.",
        "responses": {
          "200": {
            "description": "projectsSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/projectsSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create project",
        "description": "Create a new [Unleash project](https://docs.getunleash.io/reference/projects).",
        "requestBody": {
          "description": "createProjectSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createProjectSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "location": {
                "description": "The location of the newly created resource.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/projectCreatedSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The operation does not support request payloads of the provided type. Please ensure that you're using one of the listed payload types and that you have specified the right content type in the \"content-type\" header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ContentTypeerror"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "We do not accept the content-type you provided (application/xml). Try using one of the content-types we do accept instead (application/json) and make sure the body is in the corresponding format."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      }
    },
    "/api/admin/projects/{projectId}": {
      "put": {
        "operationId": "updateProject",
        "summary": "Update project",
        "description": "Update a project with new configuration. Any fields not provided are ignored.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "updateProjectSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateProjectSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "This response has no body."
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The operation does not support request payloads of the provided type. Please ensure that you're using one of the listed payload types and that you have specified the right content type in the \"content-type\" header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ContentTypeerror"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "We do not accept the content-type you provided (application/xml). Try using one of the content-types we do accept instead (application/json) and make sure the body is in the corresponding format."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete project",
        "description": "Permanently delete the provided project. All feature toggles in the project must be archived before you can delete it. This permanently deletes the project and its archived toggles. It can not be undone.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response has no body."
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      }
    },
    "/api/admin/projects/{projectId}/access": {
      "get": {
        "operationId": "getProjectAccess",
        "summary": "Get users and groups in project",
        "description": "Get all groups, users and their roles, and available roles for the given project.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "projectAccessSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/projectAccessSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      },
      "put": {
        "operationId": "setProjectAccess",
        "summary": "Set users and groups to roles in the current project",
        "description": "Sets all groups, users and their roles for the given project, overriding any existing configuration.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "projectAccessConfigurationSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/projectAccessConfigurationSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "This response has no body."
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Projects"
        ]
      }
    },
    "/api/admin/permissions": {
      "get": {
        "operationId": "getPermissions",
        "summary": "Gets available permissions",
        "description": "Returns a list of available permissions",
        "responses": {
          "200": {
            "description": "adminPermissionsSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adminPermissionsSchema"
                }
              }
            }
          }
        },
        "tags": [
          "Auth"
        ]
      }
    },
    "/api/admin/api-tokens": {
      "get": {
        "operationId": "getAllApiTokens",
        "summary": "Get API tokens",
        "description": "Retrieves all API tokens that exist in the Unleash instance.",
        "responses": {
          "200": {
            "description": "apiTokensSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiTokensSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API tokens"
        ]
      },
      "post": {
        "operationId": "createApiToken",
        "summary": "Create API token",
        "description": "Create an API token of a specific type: one of client, admin, frontend.",
        "requestBody": {
          "description": "createApiTokenSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createApiTokenSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "location": {
                "description": "The location of the newly created resource.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiTokenSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The operation does not support request payloads of the provided type. Please ensure that you're using one of the listed payload types and that you have specified the right content type in the \"content-type\" header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ContentTypeerror"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "We do not accept the content-type you provided (application/xml). Try using one of the content-types we do accept instead (application/json) and make sure the body is in the corresponding format."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API tokens"
        ]
      }
    },
    "/api/admin/api-tokens/{name}": {
      "get": {
        "operationId": "getApiTokensByName",
        "summary": "Get API tokens by name",
        "description": "Retrieves all API tokens that match a given token name. Because token names are not unique, this endpoint will always return a list. If no tokens with the provided name exist, the list will be empty. Otherwise, it will contain all the tokens with the given name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "apiTokensSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/apiTokensSchema"
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API tokens"
        ]
      }
    },
    "/api/admin/api-tokens/{token}": {
      "put": {
        "operationId": "updateApiToken",
        "summary": "Update API token",
        "description": "Updates an existing API token with a new expiry date. The `token` path parameter is the token's `secret`. If the token does not exist, this endpoint returns a 200 OK, but does nothing.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "updateApiTokenSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateApiTokenSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "This response has no body."
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "The operation does not support request payloads of the provided type. Please ensure that you're using one of the listed payload types and that you have specified the right content type in the \"content-type\" header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ContentTypeerror"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "We do not accept the content-type you provided (application/xml). Try using one of the content-types we do accept instead (application/json) and make sure the body is in the corresponding format."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API tokens"
        ]
      },
      "delete": {
        "operationId": "deleteApiToken",
        "summary": "Delete API token",
        "description": "Deletes an existing API token. The `token` path parameter is the token's `secret`. If the token does not exist, this endpoint returns a 200 OK, but does nothing.",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response has no body."
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "API tokens"
        ]
      }
    },
    "/api/admin/user-admin": {
      "post": {
        "operationId": "createUser",
        "summary": "Create a new user",
        "description": "Creates a new user with the given root role.",
        "requestBody": {
          "description": "createUserSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createUserSchema"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "location": {
                "description": "The location of the newly created resource.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createUserResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    },
    "/api/admin/user-admin/{id}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user",
        "description": "Will return a single user by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "userSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/userSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "put": {
        "operationId": "updateUser",
        "summary": "Update a user",
        "description": "Only the explicitly specified fields get updated.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "updateUserSchema",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateUserSchema"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "createUserResponseSchema",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createUserResponseSchema"
                }
              }
            }
          },
          "400": {
            "description": "The request data does not match what we expect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "ValidationError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "The request payload you provided doesn't conform to the schema. The .parameters property should be object. You sent []."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete a user",
        "description": "Deletes the user with the given userId",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "This response has no body."
          },
          "401": {
            "description": "Authorization information is missing or invalid. Provide a valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "AuthenticationRequired"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You must log in to use Unleash. Your request had no authorization header, so we could not authorize you. Try logging in at /auth/simple/login."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The provided user credentials are valid, but the user does not have the necessary permissions to perform this operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NoAccessError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "You need the \"UPDATE_ADDON\" permission to perform this action in the \"development\" environment."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "The ID of the error instance",
                      "type": "string",
                      "example": "9c40958a-daac-400e-98fb-3bb438567008"
                    },
                    "name": {
                      "description": "The name of the error kind",
                      "type": "string",
                      "example": "NotFoundError"
                    },
                    "message": {
                      "description": "A description of what went wrong.",
                      "type": "string",
                      "example": "Could not find the addon with ID \"12345\"."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Users"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "apiTokenSchema": {
        "description": "An overview of an [Unleash API token](https://docs.getunleash.io/reference/api-tokens-and-client-keys).",
        "type": "object",
        "properties": {
          "secret": {
            "description": "The token used for authentication.",
            "type": "string",
            "example": "project:environment.xyzrandomstring"
          },
          "username": {
            "description": "This property was deprecated in Unleash v5. Prefer the `tokenName` property instead.",
            "type": "string",
            "example": "a-name",
            "deprecated": true
          },
          "tokenName": {
            "description": "A unique name for this particular token",
            "type": "string",
            "example": "some-user"
          },
          "type": {
            "description": "The type of API token",
            "type": "string",
            "example": "client",
            "enum": [
              "client",
              "admin",
              "frontend"
            ]
          },
          "environment": {
            "description": "The environment the token has access to. `*` if it has access to all environments.",
            "type": "string",
            "example": "development"
          },
          "project": {
            "description": "The project this token belongs to.",
            "type": "string",
            "example": "developerexperience"
          },
          "projects": {
            "description": "The list of projects this token has access to. If the token has access to specific projects they will be listed here. If the token has access to all projects it will be represented as `[*]`",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "developerexperience",
              "enterprisegrowth"
            ]
          },
          "expiresAt": {
            "description": "The token's expiration date. NULL if the token doesn't have an expiration set.",
            "type": "string",
            "format": "date-time",
            "example": "2023-04-19T08:15:14.000Z",
            "nullable": true
          },
          "createdAt": {
            "description": "When the token was created.",
            "type": "string",
            "format": "date-time",
            "example": "2023-04-19T08:15:14.000Z"
          },
          "seenAt": {
            "description": "When the token was last seen/used to authenticate with. NULL if the token has not yet been used for authentication.",
            "type": "string",
            "format": "date-time",
            "example": "2023-04-19T08:15:14.000Z",
            "nullable": true
          },
          "alias": {
            "description": "Alias is no longer in active use and will often be NULL. It's kept around as a way of allowing old proxy tokens created with the old metadata format to keep working.",
            "type": "string",
            "example": "randomid-or-some-alias",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "required": [
          "secret",
          "tokenName",
          "type",
          "project",
          "projects",
          "createdAt"
        ]
      },
      "apiTokensSchema": {
        "description": "An object with [Unleash API tokens](https://docs.getunleash.io/reference/api-tokens-and-client-keys)",
        "type": "object",
        "properties": {
          "tokens": {
            "description": "A list of Unleash API tokens.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/apiTokenSchema"
            }
          }
        },
        "additionalProperties": false,
        "required": [
          "tokens"
        ]
      },
      "createApiTokenSchema": {
        "description": "The data required to create an [Unleash API token](https://docs.getunleash.io/reference/api-tokens-and-client-keys).",
        "type": "object",
        "oneOf": [
          {
            "required": [
              "type",
              "tokenName"
            ],
            "type": "object",
            "properties": {
              "expiresAt": {
                "description": "The time when this token should expire.",
                "type": "string",
                "format": "date-time",
                "example": "2023-07-04T11:26:24+02:00"
              },
              "type": {
                "description": "An admin token. Must be the string \"admin\" (not case sensitive).",
                "type": "string",
                "example": "admin",
                "pattern": "^[Aa][Dd][Mm][Ii][Nn]$"
              },
              "tokenName": {
                "description": "The name of the token.",
                "type": "string",
                "example": "token-64522"
              }
            }
          },
          {
            "required": [
              "type",
              "username"
            ],
            "type": "object",
            "properties": {
              "expiresAt": {
                "description": "The time when this token should expire.",
                "type": "string",
                "format": "date-time",
                "example": "2023-07-04T11:26:24+02:00"
              },
              "type": {
                "description": "An admin token. Must be the string \"admin\" (not case sensitive).",
                "type": "string",
                "example": "admin",
                "pattern": "^[Aa][Dd][Mm][Ii][Nn]$"
              },
              "username": {
                "description": "The name of the token. This property is deprecated. Use `tokenName` instead.",
                "type": "string",
                "example": "token-64523",
                "deprecated": true
              }
            }
          },
          {
            "required": [
              "type",
              "tokenName"
            ],
            "type": "object",
            "properties": {
              "expiresAt": {
                "description": "The time when this token should expire.",
                "type": "string",
                "format": "date-time",
                "example": "2023-07-04T11:26:24+02:00"
              },
              "type": {
                "description": "A client or frontend token. Must be one of the strings \"client\" or \"frontend\" (not case sensitive).",
                "type": "string",
                "example": "frontend",
                "pattern": "^([Cc][Ll][Ii][Ee][Nn][Tt]|[Ff][Rr][Oo][Nn][Tt][Ee][Nn][Dd])$"
              },
              "environment": {
                "description": "The environment that the token should be valid for. Defaults to \"default\"",
                "type": "string",
                "example": "development"
              },
              "project": {
                "description": "The project that the token should be valid for. Defaults to \"*\" meaning every project. This property is mutually incompatible with the `projects` property. If you specify one, you cannot specify the other.",
                "type": "string",
                "example": "project-851"
              },
              "projects": {
                "description": "A list of projects that the token should be valid for. This property is mutually incompatible with the `project` property. If you specify one, you cannot specify the other.",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "project-851",
                  "project-852"
                ]
              },
              "tokenName": {
                "description": "The name of the token.",
                "type": "string",
                "example": "token-64522"
              }
            }
          },
          {
            "required": [
              "type",
              "username"
            ],
            "type": "object",
            "properties": {
              "expiresAt": {
                "description": "The time when this token should expire.",
                "type": "string",
                "format": "date-time",
                "example": "2023-07-04T11:26:24+02:00"
              },
              "type": {
                "description": "A client or frontend token. Must be one of the strings \"client\" or \"frontend\" (not case sensitive).",
                "type": "string",
                "example": "frontend",
                "pattern": "^([Cc][Ll][Ii][Ee][Nn][Tt]|[Ff][Rr][Oo][Nn][Tt][Ee][Nn][Dd])$"
              },
              "environment": {
                "description": "The environment that the token should be valid for. Defaults to \"default\"",
                "type": "string",
                "example": "development"
              },
              "project": {
                "description": "The project that the token should be valid for. Defaults to \"*\" meaning every project. This property is mutually incompatible with the `projects` property. If you specify one, you cannot specify the other.",
                "type": "string",
                "example": "project-851"
              },
              "projects": {
                "description": "A list of projects that the token should be valid for. This property is mutually incompatible with the `project` property. If you specify one, you cannot specify the other.",
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "project-851",
                  "project-852"
                ]
              },
              "username": {
                "description": "The name of the token. This property is deprecated. Use `tokenName` instead.",
                "type": "string",
                "example": "token-64523",
                "deprecated": true
              }
            }
          }
        ]
      },
      "createUserSchema": {
        "description": "The payload must contain at least one of the name and email properties, though which one is up to you. For the user to be able to log in to the system, the user must have an email.",
        "type": "object",
        "properties": {
          "username": {
            "description": "The user's username. Must be provided if email is not provided.",
            "type": "string",
            "example": "hunter"
          },
[...]
