openapi: 3.0.3
info:
  title: Unleash API
  version: 5.2.0-main
servers:
- url: https://us.app.unleash-hosted.com/ushosted
security:
- apiKey: []
tags:
- description: "Create, update, and delete [Unleash addons](https://docs.getunleash.io/addons)."
  name: Addons
- description: Configuration for the Unleash Admin UI. These endpoints should not
    be relied upon and can change at any point without prior notice.
  name: Admin UI
- description: "Create, update, and delete [Unleash API tokens](https://docs.getunleash.io/reference/api-tokens-and-client-keys)."
  name: API tokens
- description: "Revive or permanently delete [archived feature toggles](https://docs.getunleash.io/advanced/archived_toggles)."
  name: Archive
- description: "Manage logins, passwords, etc."
  name: Auth
- description: "Endpoints for [Unleash server-side clients](https://docs.getunleash.io/reference/sdks)."
  name: Client
- description: "Create, update, and delete [context fields](https://docs.getunleash.io/reference/unleash-context)\
    \ that Unleash is aware of."
  name: Context
- description: Endpoints related to Unleash on the Edge.
  name: Edge
- description: "Create, update, delete, enable or disable [environments](https://docs.getunleash.io/reference/environments)\
    \ for this Unleash instance."
  name: Environments
- description: Read events from this Unleash instance.
  name: Events
- description: "Create, update, and delete [features toggles](https://docs.getunleash.io/reference/feature-toggles)."
  name: Features
- description: API for connecting client-side (frontend) applications to Unleash.
  name: Frontend API
- description: "[Import and export](https://docs.getunleash.io/deploy/import_export)\
    \ the state of your Unleash instance."
  name: Import/Export
- description: Instance admin endpoints used to manage the Unleash instance itself.
  name: Instance Admin
- description: Enable/disable the maintenance mode of Unleash.
  name: Maintenance
- description: "Register, read, or delete metrics recorded by Unleash."
  name: Metrics
- description: "API for managing [notifications](https://docs.getunleash.io/reference/notifications)."
  name: Notifications
- description: Endpoints related to the operational status of this Unleash instance.
  name: Operational
- description: "Create, update, and delete [Personal access tokens](https://docs.getunleash.io/reference/api-tokens-and-client-keys#personal-access-tokens)."
  name: Personal access tokens
- description: Evaluate an Unleash context against your feature toggles.
  name: Playground
- description: "Create, update, and delete [Unleash projects](https://docs.getunleash.io/reference/projects)."
  name: Projects
- description: "Create, update, and delete [Unleash Public Signup tokens](https://docs.getunleash.io/reference/public-signup-tokens)."
  name: Public signup tokens
- description: "Create, update, delete, and manage [segments](https://docs.getunleash.io/reference/segments)."
  name: Segments
- description: "Endpoints for managing [Service Accounts](https://docs.getunleash.io/reference/service-accounts),\
    \ which enable programmatic access to the Unleash API."
  name: Service Accounts
- description: "Create, update, delete, manage [custom strategies](https://docs.getunleash.io/reference/custom-activation-strategies)."
  name: Strategies
- description: "Create, update, and delete [tags and tag types](https://docs.getunleash.io/reference/tags)."
  name: Tags
- description: API for information about telemetry collection
  name: Telemetry
- description: Experimental endpoints that may change or disappear at any time.
  name: Unstable
- description: Manage users and passwords.
  name: Users
paths:
  /auth/simple/login:
    post:
      description: Logs in the user and creates an active session
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/loginSchema'
        description: loginSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userSchema'
          description: userSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
      summary: Log in
      tags:
      - Auth
  /api/admin/auth/google/settings:
    get:
      deprecated: true
      description: "Returns the current settings for Google Authentication (deprecated,\
        \ please use OpenID instead)"
      operationId: getGoogleSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googleSettingsSchema'
          description: googleSettingsSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get Google auth settings
      tags:
      - Auth
    post:
      deprecated: true
      description: "Updates the settings for Google Authentication (deprecated, please\
        \ use OpenID instead)"
      operationId: setGoogleSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/googleSettingsSchema'
        description: googleSettingsSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googleSettingsSchema'
          description: googleSettingsSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Set Google auth options
      tags:
      - Auth
  /api/admin/auth/saml/settings:
    get:
      description: Returns the current settings for SAML authentication
      operationId: getSamlSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/samlSettingsSchema'
          description: samlSettingsSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get SAML auth settings
      tags:
      - Auth
    post:
      description: Updates the settings for SAML Authentication
      operationId: setSamlSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/samlSettingsSchema'
        description: samlSettingsSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/samlSettingsSchema'
          description: samlSettingsSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Update SAML auth settings
      tags:
      - Auth
  /api/admin/auth/oidc/settings:
    get:
      description: Returns the current settings for OIDC Authentication
      operationId: getOidcSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oidcSettingsSchema'
          description: oidcSettingsSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get OIDC auth settings
      tags:
      - Auth
    post:
      operationId: setOidcSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/oidcSettingsSchema'
        description: oidcSettingsSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oidcSettingsSchema'
          description: oidcSettingsSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      tags:
      - Auth
  /api/admin/auth/simple/settings:
    get:
      description: Is simple authentication (username/password) enabled for this server
      operationId: getSimpleSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/passwordAuthSchema'
          description: passwordAuthSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get Simple auth settings
      tags:
      - Auth
    post:
      description: Enable or disable simple authentication (username/password)
      operationId: setSimpleSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/passwordAuthSchema'
        description: passwordAuthSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/passwordAuthSchema'
          description: passwordAuthSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Update Simple auth settings
      tags:
      - Auth
  /api/admin/groups:
    get:
      operationId: getGroups
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupsSchema'
          description: groupsSchema
      tags:
      - Users
    post:
      operationId: createGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/groupSchema'
        description: groupSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupSchema'
          description: groupSchema
      tags:
      - Users
  /api/admin/groups/{groupId}:
    delete:
      operationId: deleteGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
      tags:
      - Users
    get:
      operationId: getGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupSchema'
          description: groupSchema
      tags:
      - Users
    put:
      operationId: updateGroup
      parameters:
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/groupSchema'
        description: groupSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/groupSchema'
          description: groupSchema
      tags:
      - Users
  /api/admin/roles:
    get:
      operationId: getRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rolesWithVersionSchema'
          description: rolesWithVersionSchema
      tags:
      - Users
    post:
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRoleWithPermissionsSchema'
        description: createRoleWithPermissionsSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roleWithVersionSchema'
          description: roleWithVersionSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
      tags:
      - Users
  /api/admin/roles/{roleId}:
    delete:
      operationId: deleteRole
      parameters:
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
      tags:
      - Users
    get:
      operationId: getRoleById
      parameters:
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roleWithPermissionsSchema'
          description: roleWithPermissionsSchema
      tags:
      - Users
    put:
      operationId: updateRole
      parameters:
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRoleWithPermissionsSchema'
        description: createRoleWithPermissionsSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roleWithVersionSchema'
          description: roleWithVersionSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
      tags:
      - Users
  /api/admin/roles/validate:
    post:
      operationId: validateRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRoleWithPermissionsSchema'
        description: createRoleWithPermissionsSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
      tags:
      - Users
  /api/admin/environments:
    get:
      description: Retrieves all environments that exist in this Unleash instance.
      operationId: getAllEnvironments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentsSchema'
          description: environmentsSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get all environments
      tags:
      - Environments
    post:
      description: Uses the details provided in the payload to create a new environment
      operationId: createEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createEnvironmentSchema'
        description: createEnvironmentSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
      summary: Creates a new environment
      tags:
      - Environments
  /api/admin/environments/validate:
    post:
      description: Uses the name provided in the body of the request to validate if
        the given name exists or not
      operationId: validateEnvironmentName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nameSchema'
        description: nameSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
      summary: Validates if an environment name exists
      tags:
      - Environments
  /api/admin/environments/update/{name}:
    put:
      description: "Given an environment by name updates the environment with the\
        \ given payload. Note that `name`, `enabled` and `protected` cannot be changed\
        \ by this API"
      operationId: updateEnvironment
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateEnvironmentSchema'
        description: updateEnvironmentSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentSchema'
          description: environmentSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
      summary: Updates an environment by name
      tags:
      - Environments
  /api/admin/environments/{name}:
    delete:
      description: "Given an existing environment by name, this endpoint will attempt\
        \ to delete it"
      operationId: removeEnvironment
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
      summary: Deletes an environment by name
      tags:
      - Environments
    get:
      description: Retrieves the environment with `name` if it exists in this Unleash
        instance
      operationId: getEnvironment
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentSchema'
          description: environmentSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Get the environment with `name`
      tags:
      - Environments
  /api/admin/environments/{name}/clone:
    post:
      description: "Given an existing environment name and a set of options, this\
        \ will create a copy of that environment"
      operationId: cloneEnvironment
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
      summary: Clones an environment
      tags:
      - Environments
  /api/admin/service-account:
    get:
      description: Returns the list of all service accounts.
      operationId: getServiceAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceAccountsSchema'
          description: serviceAccountsSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: List service accounts.
      tags:
      - Service Accounts
    post:
      description: Creates a new service account.
      operationId: createServiceAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createServiceAccountSchema'
        description: createServiceAccountSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceAccountSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Create a service account.
      tags:
      - Service Accounts
  /api/admin/service-account/{id}:
    delete:
      description: Deletes an existing service account identified by its id.
      operationId: deleteServiceAccount
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Delete a service account.
      tags:
      - Service Accounts
    put:
      description: Updates an existing service account identified by its id.
      operationId: updateServiceAccount
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateServiceAccountSchema'
        description: updateServiceAccountSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceAccountSchema'
          description: serviceAccountSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Update a service account.
      tags:
      - Service Accounts
  /api/admin/service-account/{id}/token:
    get:
      description: Returns the list of all tokens for a service account identified
        by the id.
      operationId: getServiceAccountTokens
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patsSchema'
          description: patsSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: List all tokens for a service account.
      tags:
      - Service Accounts
    post:
      description: Creates a new token for the service account identified by the id.
      operationId: createServiceAccountToken
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patSchema'
        description: patSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Create a token for a service account.
      tags:
      - Service Accounts
  /api/admin/service-account/{id}/token/{tokenId}:
    delete:
      description: Deletes a token for the service account identified both by the
        service account's id and the token's id.
      operationId: deleteServiceAccountToken
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tokenId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Delete a token for a service account.
      tags:
      - Service Accounts
  /api/admin/features-batch/validate:
    post:
      description: "Validates a feature toggle data set. Checks whether the data can\
        \ be imported into the specified project and environment. The returned value\
        \ is an object that contains errors, warnings, and permissions required to\
        \ perform the import, as described in the [import documentation](https://docs.getunleash.io/reference/deploy/environment-import-export#import)."
      operationId: validateImport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/importTogglesSchema'
        description: importTogglesSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/importTogglesValidateSchema'
          description: importTogglesValidateSchema
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Validate feature import data
      tags:
      - Import/Export
  /api/admin/features-batch/import:
    post:
      description: "[Import feature toggles](https://docs.getunleash.io/reference/deploy/environment-import-export#import)\
        \ into a specific project and environment."
      operationId: importToggles
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/importTogglesSchema'
        description: importTogglesSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Import feature toggles
      tags:
      - Import/Export
  /api/admin/logins:
    get:
      description: Returns **all** login events in the Unleash system. You can optionally
        get them in CSV format by specifying the `Accept` header as `text/csv`.
      operationId: getLoginHistory
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/loginHistorySchema'
            text/csv:
              schema:
                type: string
          description: loginHistorySchema
        "204":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Get all login events.
      tags:
      - Unstable
  /api/admin/projects:
    get:
      description: This endpoint returns an list of all the projects in the Unleash
        instance.
      operationId: getProjects
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectsSchema'
          description: projectsSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get a list of all projects.
      tags:
      - Projects
    post:
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createProjectSchema'
        description: createProjectSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectCreatedSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
      tags:
      - Projects
  /api/admin/projects/validate:
    post:
      operationId: validateProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validateProjectSchema'
        description: validateProjectSchema
        required: true
      responses:
        "200":
          description: This response has no body.
      tags:
      - Projects
  /api/admin/projects/{projectId}:
    delete:
      operationId: deleteProject
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
      tags:
      - Projects
    get:
      description: "This endpoint returns an overview of the specified projects stats,\
        \ project health, number of members, which environments are configured, and\
        \ the features in the project."
      operationId: getProjectOverview
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectOverviewSchema'
          description: projectOverviewSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Get an overview of a project.
      tags:
      - Projects
    put:
      operationId: updateProject
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateProjectSchema'
        description: updateProjectSchema
        required: true
      responses:
        "200":
          description: This response has no body.
      tags:
      - Projects
  /api/admin/projects/{projectId}/users:
    get:
      deprecated: true
      operationId: getProjectUsers
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectUsersSchema'
          description: projectUsersSchema
      tags:
      - Projects
  /api/admin/projects/{projectId}/access:
    get:
      operationId: getProjectAccess
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectAccessSchema'
          description: projectAccessSchema
      tags:
      - Projects
  /api/admin/projects/{projectId}/users/{userId}/roles/{roleId}:
    delete:
      operationId: removeRoleForUser
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
      tags:
      - Projects
    post:
      operationId: addRoleToUser
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
      tags:
      - Projects
    put:
      operationId: changeRoleForUser
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
      tags:
      - Projects
  /api/admin/projects/{projectId}/groups/{groupId}/roles/{roleId}:
    delete:
      operationId: removeRoleFromGroup
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
      tags:
      - Projects
    put:
      operationId: changeRoleForGroup
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: groupId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
      tags:
      - Projects
  /api/admin/projects/{projectId}/role/{roleId}/access:
    post:
      operationId: addAccessToProject
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
      tags:
      - Projects
  /api/admin/projects/{projectId}/features/{featureName}/changeProject:
    post:
      description: Moves the specified feature to the new project in the request schema.
        Requires you to have permissions to move the feature toggle in both projects.
        Features that are included in any active change requests can not be moved.
      operationId: changeProject
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: featureName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changeProjectSchema'
        description: changeProjectSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Move feature to project
      tags:
      - Features
  /api/admin/projects/{projectId}/settings:
    get:
      operationId: getProjectSettings
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectSettingsSchema'
          description: projectSettingsSchema
        "404":
          description: This response has no body.
      tags:
      - Projects
  /api/admin/permissions:
    get:
      description: Returns a list of available permissions
      operationId: getPermissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adminPermissionsSchema'
          description: adminPermissionsSchema
      summary: Gets available permissions
      tags:
      - Auth
  /api/admin/segments/validate:
    post:
      description: Uses the name provided in the body of the request to validate if
        the given name exists or not
      operationId: validateSegment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/nameSchema'
        description: nameSchema
        required: true
      responses:
        "204":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Validates if a segment name exists
      tags:
      - Segments
  /api/admin/segments/strategies/{strategyId}:
    get:
      description: Retrieve all segments that are referenced by the specified strategy.
        Returns an empty list of segments if the strategy ID doesn't exist.
      operationId: getSegmentsByStrategyId
      parameters:
      - explode: false
        in: path
        name: strategyId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentsSchema'
          description: segmentsSchema
      summary: Get strategy segments
      tags:
      - Segments
  /api/admin/segments/strategies:
    post:
      description: Sets the segments of the strategy specified to be exactly the ones
        passed in the payload. Any segments that were used by the strategy before
        will be removed if they are not in the provided list of segments.
      operationId: updateFeatureStrategySegments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateFeatureStrategySegmentsSchema'
        description: updateFeatureStrategySegmentsSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateFeatureStrategySegmentsSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Update strategy segments
      tags:
      - Strategies
  /api/admin/segments/{id}/strategies:
    get:
      description: Retrieve all strategies that reference the specified segment.
      operationId: getStrategiesBySegmentId
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adminStrategiesSchema'
          description: adminStrategiesSchema
      summary: Get strategies that reference segment
      tags:
      - Segments
  /api/admin/segments/{id}:
    delete:
      description: "Deletes a segment by its id, if not found returns a 409 error"
      operationId: removeSegment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
      summary: Deletes a segment by id
      tags:
      - Segments
    get:
      description: Retrieves a segment based on its ID.
      operationId: getSegment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adminSegmentSchema'
          description: adminSegmentSchema
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Get a segment
      tags:
      - Segments
    put:
      description: Updates the content of the segment with the provided payload. Any
        fields not specified will be left untouched.
      operationId: updateSegment
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Update segment by id
      tags:
      - Segments
  /api/admin/segments:
    get:
      description: Retrieves all segments that exist in this Unleash instance.
      operationId: getSegments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/segmentsSchema'
          description: segmentsSchema
      summary: Get all segments
      tags:
      - Segments
    post:
      description: Creates a new segment using the payload provided
      operationId: createSegment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/upsertSegmentSchema'
        description: upsertSegmentSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adminSegmentSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Create a new segment
      tags:
      - Segments
  /api/admin/metrics/rps:
    get:
      description: Gets usage data per app/endpoint from a prometheus compatible metrics
        endpoint
      operationId: getRequestsPerSecond
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/requestsPerSecondSegmentedSchema'
          description: requestsPerSecondSegmentedSchema
      summary: Gets usage data
      tags:
      - Metrics
  /api/admin/notifications:
    get:
      description: A user may get relevant notifications from the projects they are
        a member of
      operationId: getNotifications
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notificationsSchema'
          description: notificationsSchema
      summary: Retrieves a list of notifications
      tags:
      - Unstable
  /api/admin/notifications/read:
    post:
      description: Allow to select which notifications were read and saving a read
        date
      operationId: markNotificationsAsRead
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/markNotificationsAsReadSchema'
        description: markNotificationsAsReadSchema
        required: true
      responses:
        "200":
          description: This response has no body.
      summary: Mark notifications as read
      tags:
      - Unstable
  /health:
    get:
      description: "This operation returns information about whether this Unleash\
        \ instance is healthy and ready to serve requests or not. Typically used by\
        \ your deployment orchestrator (e.g. Kubernetes, Docker Swarm, Mesos, et al.)."
      operationId: getHealth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckSchema'
          description: healthCheckSchema
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckSchema'
          description: healthCheckSchema
      summary: Get instance operational status
      tags:
      - Operational
  /invite/{token}/validate:
    get:
      operationId: validatePublicSignupToken
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
      summary: "Check whether a public sign-up token exists, has not expired and is\
        \ enabled"
      tags:
      - Public signup tokens
  /invite/{token}/signup:
    post:
      description: Create a user with the viewer root role and link them to the provided
        signup token
      operationId: addPublicSignupTokenUser
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createInvitedUserSchema'
        description: createInvitedUserSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userSchema'
          description: userSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
      summary: Add a user via a signup token
      tags:
      - Public signup tokens
  /auth/reset/validate:
    get:
      description: If the token is valid returns the user that owns the token
      operationId: validateToken
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tokenUserSchema'
          description: tokenUserSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Validates a token
      tags:
      - Auth
  /auth/reset/password:
    post:
      description: Allows users with a valid reset token to reset their password without
        remembering their old password
      operationId: changePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/changePasswordSchema'
        description: changePasswordSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Changes a user password
      tags:
      - Auth
  /auth/reset/validate-password:
    post:
      description: "Verifies that the password adheres to the [Unleash password guidelines](https://docs.getunleash.io/reference/deploy/securing-unleash#password-requirements)"
      operationId: validatePassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validatePasswordSchema'
        description: validatePasswordSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Validates password
      tags:
      - Auth
  /auth/reset/password-email:
    post:
      description: Requests a password reset email for the user. This email can be
        used to reset the password for a user that has forgotten their password
      operationId: sendResetPasswordEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/emailSchema'
        description: emailSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Reset password
      tags:
      - Auth
  /api/admin/features:
    get:
      deprecated: true
      description: Gets all feature toggles with their full configuration. This endpoint
        is **deprecated**. You should  use the project-based endpoint instead (`/api/admin/projects/<project-id>/features`).
      operationId: getAllToggles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/featuresSchema'
          description: featuresSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get all features (deprecated)
      tags:
      - Features
  /api/admin/features/validate:
    post:
      description: "Validates a feature toggle name: checks whether the name is URL-friendly\
        \ and whether a feature with the given name already exists. Returns 200 if\
        \ the feature name is compliant and unused."
      operationId: validateFeature
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validateFeatureSchema'
        description: validateFeatureSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleteRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setGoogleSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Validate feature name
      tags:
      - Features
  /api/admin/features/{featureName}/tags:
    get:
      description: Retrieves all the tags for a feature name. If the feature does
        not exist it returns an empty list.
      operationId: listTags
      parameters:
      - explode: false
        in: path
        name: featureName
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagsSchema'
          description: tagsSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Get all tags for a feature.
      tags:
      - Features
    post:
      description: "Adds a tag to a feature if the feature and tag type exist in the\
        \ system. The operation is idempotent, so adding an existing tag will result\
        \ in a successful response."
      operationId: addTag
      parameters:
      - explode: false
        in: path
        name: featureName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tagSchema'
        description: tagSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Adds a tag to a feature.
      tags:
      - Features
    put:
      description: Receives a list of tags to add and a list of tags to remove that
        are mandatory but can be empty. All tags under addedTags are first added to
        the feature and then all tags under removedTags are removed from the feature.
      operationId: updateTags
      parameters:
      - explode: false
        in: path
        name: featureName
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateTagsSchema'
        description: updateTagsSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagsSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Updates multiple tags for a feature.
      tags:
      - Features
  /api/admin/features/{featureName}/tags/{type}/{value}:
    delete:
      description: "Removes a tag from a feature. If the feature exists but the tag\
        \ does not, it returns a successful response."
      operationId: removeTag
      parameters:
      - explode: false
        in: path
        name: featureName
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: value
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getEnvironment_404_response'
          description: The requested resource was not found.
      summary: Removes a tag from a feature.
      tags:
      - Features
  /api/admin/feature-types:
    get:
      description: "Retrieves all feature types that exist in this Unleash instance,\
        \ along with their descriptions and lifetimes."
      operationId: getAllFeatureTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/featureTypesSchema'
          description: featureTypesSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
      summary: Get all feature types
      tags:
      - Features
  /api/admin/archive/features:
    get:
      deprecated: true
      operationId: getArchivedFeatures
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/featuresSchema'
          description: featuresSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      tags:
      - Archive
  /api/admin/archive/features/{projectId}:
    get:
      deprecated: true
      operationId: getArchivedFeaturesByProjectId
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/featuresSchema'
          description: featuresSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/login_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getGoogleSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      tags:
      - Archive
  /api/admin/archive/{featureName}:
    delete:
      description: This endpoint archives the specified feature.
      operationId: deleteFeature
      parameters:
      - explode: false
        in: path
        name: featureName
[...]
