openapi: 3.0.3
info:
  title: Unleash API
  version: 6.7.2
servers:
- url: https://us.app.unleash-hosted.com/ushosted
security:
- apiKey: []
- bearerToken: []
tags:
- description: "Create, update, and delete [Unleash addons](https://docs.getunleash.io/addons)."
  name: Addons
- description: Configuration for the Unleash Admin UI. These endpoints should not
    be relied upon and can change at any point without prior notice.
  name: Admin UI
- description: "Create, update, and delete [Unleash API tokens](https://docs.getunleash.io/reference/api-tokens-and-client-keys)."
  name: API tokens
- description: "Revive or permanently delete [archived feature flags](https://docs.getunleash.io/advanced/archived_toggles)."
  name: Archive
- description: "Manage logins, passwords, etc."
  name: Auth
- description: "Create, update, flag, and delete [banners](https://docs.getunleash.io/reference/banners)."
  name: Banners
- description: "API for managing [change requests](https://docs.getunleash.io/reference/change-requests)."
  name: Change Requests
- description: "Endpoints for [Unleash server-side clients](https://docs.getunleash.io/reference/sdks)."
  name: Client
- description: "Create, update, and delete [context fields](https://docs.getunleash.io/reference/unleash-context)\
    \ that Unleash is aware of."
  name: Context
- description: Manage feature dependencies.
  name: Dependencies
- description: Endpoints related to Unleash on the Edge.
  name: Edge
- description: "Create, update, delete, enable or disable [environments](https://docs.getunleash.io/reference/environments)\
    \ for this Unleash instance."
  name: Environments
- description: Read events from this Unleash instance.
  name: Events
- description: "Manage [feature flag types](https://docs.getunleash.io/reference/feature-toggles#feature-flag-types)."
  name: Feature Types
- description: "Create, update, and delete [feature flags](https://docs.getunleash.io/reference/feature-toggles)."
  name: Features
- description: API for connecting client-side (frontend) applications to Unleash.
  name: Frontend API
- description: "[Import and export](https://docs.getunleash.io/how-to/how-to-environment-import-export)\
    \ the state of your Unleash instance."
  name: Import/Export
- description: Instance admin endpoints used to manage the Unleash instance itself.
  name: Instance Admin
- description: Enable/disable the maintenance mode of Unleash.
  name: Maintenance
- description: "Register, read, or delete metrics recorded by Unleash."
  name: Metrics
- description: "API for managing [notifications](https://docs.getunleash.io/reference/notifications)."
  name: Notifications
- description: Endpoints related to the operational status of this Unleash instance.
  name: Operational
- description: "Create, update, and delete [Personal access tokens](https://docs.getunleash.io/reference/api-tokens-and-client-keys#personal-access-tokens)."
  name: Personal access tokens
- description: Evaluate an Unleash context against your feature flags.
  name: Playground
- description: "Create, update, and delete [Unleash projects](https://docs.getunleash.io/reference/projects)."
  name: Projects
- description: "Create, update, and delete [Unleash Public Signup tokens](https://docs.getunleash.io/reference/public-signup-tokens)."
  name: Public signup tokens
- description: Search for features.
  name: Search
- description: "Create, update, delete, and manage [segments](https://docs.getunleash.io/reference/segments)."
  name: Segments
- description: "Endpoints for managing [Service Accounts](https://docs.getunleash.io/reference/service-accounts),\
    \ which enable programmatic access to the Unleash API."
  name: Service Accounts
- description: "Create, update, delete, manage [custom strategies](https://docs.getunleash.io/reference/custom-activation-strategies)."
  name: Strategies
- description: "Create, update, and delete [tags and tag types](https://docs.getunleash.io/reference/feature-toggles#tags)."
  name: Tags
- description: API for information about telemetry collection
  name: Telemetry
- description: Experimental endpoints that may change or disappear at any time.
  name: Unstable
- description: Manage users and passwords.
  name: Users
paths:
  /api/admin/auth/saml/settings:
    get:
      description: Returns the current settings for SAML authentication
      operationId: getSamlSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/samlSettingsResponseSchema'
          description: samlSettingsResponseSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get SAML auth settings
      tags:
      - Auth
    post:
      description: Updates the settings for SAML Authentication
      operationId: setSamlSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/samlSettingsSchema'
        description: samlSettingsSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/samlSettingsResponseSchema'
          description: samlSettingsResponseSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setSamlSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Update SAML auth settings
      tags:
      - Auth
  /api/admin/auth/oidc/settings:
    get:
      description: Returns the current settings for OIDC Authentication
      operationId: getOidcSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oidcSettingsResponseSchema'
          description: oidcSettingsResponseSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get OIDC auth settings
      tags:
      - Auth
    post:
      description: Configure OpenID Connect as a login provider for Unleash.
      operationId: setOidcSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/oidcSettingsSchema'
        description: oidcSettingsSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/oidcSettingsResponseSchema'
          description: oidcSettingsResponseSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setSamlSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Set OIDC settings
      tags:
      - Auth
  /api/admin/auth/simple/settings:
    get:
      description: Is simple authentication (username/password) enabled for this server
      operationId: getSimpleSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/passwordAuthSchema'
          description: passwordAuthSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get Simple auth settings
      tags:
      - Auth
    post:
      description: Enable or disable simple authentication (username/password)
      operationId: setSimpleSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/passwordAuthSchema'
        description: passwordAuthSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/passwordAuthSchema'
          description: passwordAuthSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setSamlSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Update Simple auth settings
      tags:
      - Auth
  /api/admin/roles:
    get:
      description: "Get a list of project, root and custom roles for Role-Based Access\
        \ Control"
      operationId: getRoles
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rolesWithVersionSchema'
          description: rolesWithVersionSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get a list of roles
      tags:
      - Users
    post:
      description: Create a new custom role for Role-Based Access Control
      operationId: createRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRoleWithPermissionsSchema'
        description: createRoleWithPermissionsSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roleWithVersionSchema'
          description: roleWithVersionSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
      summary: Create a new role
      tags:
      - Users
  /api/admin/roles/{roleId}:
    delete:
      description: Delete a custom role by id. You cannot delete built-in roles or
        roles that are in use.
      operationId: deleteRole
      parameters:
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: Delete a custom role
      tags:
      - Users
    get:
      description: Get a single role by role id
      operationId: getRoleById
      parameters:
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roleWithPermissionsSchema'
          description: roleWithPermissionsSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: Get a single role
      tags:
      - Users
    put:
      description: Update a custom role by role id
      operationId: updateRole
      parameters:
      - explode: false
        in: path
        name: roleId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createRoleWithPermissionsSchema'
        description: createRoleWithPermissionsSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/roleWithVersionSchema'
          description: roleWithVersionSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
      summary: Update a role
      tags:
      - Users
  /api/admin/environments:
    get:
      description: Retrieves all environments that exist in this Unleash instance.
      operationId: getAllEnvironments
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentsSchema'
          description: environmentsSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get all environments
      tags:
      - Environments
    post:
      description: Uses the details provided in the payload to create a new environment
      operationId: createEnvironment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createEnvironmentSchema'
        description: createEnvironmentSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
      summary: Creates a new environment
      tags:
      - Environments
  /api/admin/environments/update/{name}:
    put:
      description: "Given an environment by name updates the environment with the\
        \ given payload. Note that `name`, `enabled` and `protected` cannot be changed\
        \ by this API"
      operationId: updateEnvironment
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateEnvironmentSchema'
        description: updateEnvironmentSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentSchema'
          description: environmentSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
      summary: Updates an environment by name
      tags:
      - Environments
  /api/admin/environments/{name}:
    delete:
      description: "Given an existing environment by name, this endpoint will attempt\
        \ to delete it"
      operationId: removeEnvironment
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
      summary: Deletes an environment by name
      tags:
      - Environments
    get:
      description: Retrieves the environment with `name` if it exists in this Unleash
        instance
      operationId: getEnvironment
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/environmentSchema'
          description: environmentSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: Get the environment with `name`
      tags:
      - Environments
  /api/admin/projects/{projectId}/change-requests/config:
    get:
      description: "Given a projectId, this endpoint will retrieve change request\
        \ configuration for the project"
      operationId: getProjectChangeRequestConfig
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/changeRequestConfigSchema'
          description: changeRequestConfigSchema
      summary: Retrieves change request configuration for a project
      tags:
      - Change Requests
  /api/admin/projects/{projectId}/environments/{environment}/change-requests/config:
    put:
      description: "This endpoint will change the change request configuration for\
        \ a given environment, set it to either on/off and optionally configure the\
        \ number of approvals needed. The minimum number of approvals is 1 and the\
        \ maximum number is 10. If you provide a number higher than 10 or lower than\
        \ 1, Unleash will clamp it to the allowed range."
      operationId: updateProjectChangeRequestConfig
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: environment
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateChangeRequestEnvironmentConfigSchema'
        description: updateChangeRequestEnvironmentConfigSchema
        required: true
      responses:
        "200":
          description: This response has no body.
      summary: Updates change request configuration for an environment in the project
      tags:
      - Change Requests
  /api/admin/service-account:
    get:
      description: Returns the list of all service accounts.
      operationId: getServiceAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceAccountsSchema'
          description: '#/components/schemas/serviceAccountsSchema'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: List service accounts.
      tags:
      - Service Accounts
    post:
      description: Creates a new service account.
      operationId: createServiceAccount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createServiceAccountSchema'
        description: '#/components/schemas/createServiceAccountSchema'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceAccountSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setSamlSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Create a service account.
      tags:
      - Service Accounts
  /api/admin/service-account/{id}:
    delete:
      description: Deletes an existing service account identified by its id.
      operationId: deleteServiceAccount
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: Delete a service account.
      tags:
      - Service Accounts
    put:
      description: Updates an existing service account identified by its id.
      operationId: updateServiceAccount
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateServiceAccountSchema'
        description: '#/components/schemas/updateServiceAccountSchema'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/serviceAccountSchema'
          description: '#/components/schemas/serviceAccountSchema'
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setSamlSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Update a service account.
      tags:
      - Service Accounts
  /api/admin/service-account/{id}/token:
    get:
      description: Returns the list of all tokens for a service account identified
        by the id.
      operationId: getServiceAccountTokens
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patsSchema'
          description: '#/components/schemas/patsSchema'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: List all tokens for a service account.
      tags:
      - Service Accounts
    post:
      description: Creates a new token for the service account identified by the id.
      operationId: createServiceAccountToken
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPatSchema'
        description: '#/components/schemas/createPatSchema'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createRole_409_response'
          description: "The provided resource can not be created or updated because\
            \ it would conflict with the current state of the resource or with an\
            \ already existing resource, respectively."
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setSamlSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Create a token for a service account.
      tags:
      - Service Accounts
  /api/admin/service-account/{id}/token/{tokenId}:
    delete:
      description: Deletes a token for the service account identified both by the
        service account's id and the token's id.
      operationId: deleteServiceAccountToken
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: tokenId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: Delete a token for a service account.
      tags:
      - Service Accounts
  /api/admin/projects:
    get:
      description: This endpoint returns an list of all the projects in the Unleash
        instance.
      operationId: getProjects
      parameters:
      - explode: true
        in: query
        name: archived
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectsSchema'
          description: projectsSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get a list of all projects.
      tags:
      - Projects
    post:
      description: "Create a new [Unleash project](https://docs.getunleash.io/reference/projects)."
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createProjectSchema'
        description: createProjectSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectCreatedSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setSamlSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Create project
      tags:
      - Projects
  /api/admin/projects/{projectId}:
    delete:
      description: Permanently delete the provided project. All feature flags in the
        project must be archived before you can delete it. This permanently deletes
        the project and its archived flags. It can not be undone.
      operationId: deleteProject
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Delete project
      tags:
      - Projects
    put:
      description: Update a project with new configuration. Any fields not provided
        are ignored.
      operationId: updateProject
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateProjectSchema'
        description: updateProjectSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setSamlSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Update project
      tags:
      - Projects
  /api/admin/projects/{projectId}/settings:
    put:
      description: Update project enterprise settings with new values. Any fields
        not provided are ignored.
      operationId: updateProjectEnterpriseSettings
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateProjectEnterpriseSettingsSchema'
        description: updateProjectEnterpriseSettingsSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setSamlSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Update project enterprise settings
      tags:
      - Projects
  /api/admin/projects/{projectId}/access:
    get:
      description: "Get all groups, users and their roles, and available roles for\
        \ the given project."
      operationId: getProjectAccess
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectAccessSchema'
          description: projectAccessSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get users and groups in project
      tags:
      - Projects
    put:
      description: "Sets all groups, users and their roles for the given project,\
        \ overriding any existing configuration."
      operationId: setProjectAccess
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/projectAccessConfigurationSchema'
        description: projectAccessConfigurationSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Set users and groups to roles in the current project
      tags:
      - Projects
  /api/admin/permissions:
    get:
      description: Returns a list of available permissions
      operationId: getPermissions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adminPermissionsSchema'
          description: adminPermissionsSchema
      summary: Gets available permissions
      tags:
      - Auth
  /api/admin/context:
    get:
      description: "Returns all configured [Context fields](https://docs.getunleash.io/reference/unleash-context)\
        \ that have been created."
      operationId: getContextFields
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contextFieldsSchema'
          description: contextFieldsSchema
      summary: Gets configured context fields
      tags:
      - Context
    post:
      description: "Endpoint that allows creation of [custom context fields](https://docs.getunleash.io/reference/unleash-context#custom-context-fields)"
      operationId: createContextField
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createContextFieldSchema'
        description: createContextFieldSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contextFieldSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
      summary: Create a context field
      tags:
      - Context
  /api/admin/context/{contextField}:
    delete:
      description: "Endpoint that allows deletion of a custom context field. Does\
        \ not validate that context field is not in use, but since context field configuration\
        \ is stored in a json blob for the strategy, existing strategies are safe."
      operationId: deleteContextField
      parameters:
      - explode: false
        in: path
        name: contextField
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
      summary: Delete an existing context field
      tags:
      - Context
    get:
      description: "Returns specific [context field](https://docs.getunleash.io/reference/unleash-context)\
        \ identified by the name in the path"
      operationId: getContextField
      parameters:
      - explode: false
        in: path
        name: contextField
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contextFieldSchema'
          description: contextFieldSchema
      summary: Gets context field
      tags:
      - Context
    put:
      description: Endpoint that allows updating a custom context field. Used to toggle
        stickiness and add/remove legal values for this context field
      operationId: updateContextField
      parameters:
      - explode: false
        in: path
        name: contextField
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateContextFieldSchema'
        description: updateContextFieldSchema
        required: true
      responses:
        "200":
          description: This response has no body.
      summary: Update an existing context field
      tags:
      - Context
  /api/admin/api-tokens:
    get:
      description: Retrieves all API tokens that exist in the Unleash instance.
      operationId: getAllApiTokens
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiTokensSchema'
          description: apiTokensSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get API tokens
      tags:
      - API tokens
    post:
      description: "Create an API token of a specific type: one of client, admin,\
        \ frontend."
      operationId: createApiToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createApiTokenSchema'
        description: createApiTokenSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiTokenSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setSamlSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Create API token
      tags:
      - API tokens
  /api/admin/api-tokens/{name}:
    get:
      description: "Retrieves all API tokens that match a given token name. Because\
        \ token names are not unique, this endpoint will always return a list. If\
        \ no tokens with the provided name exist, the list will be empty. Otherwise,\
        \ it will contain all the tokens with the given name."
      operationId: getApiTokensByName
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/apiTokensSchema'
          description: apiTokensSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Get API tokens by name
      tags:
      - API tokens
  /api/admin/api-tokens/{token}:
    delete:
      description: "Deletes an existing API token. The `token` path parameter is the\
        \ token's `secret`. If the token does not exist, this endpoint returns a 200\
        \ OK, but does nothing."
      operationId: deleteApiToken
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Delete API token
      tags:
      - API tokens
    put:
      description: "Updates an existing API token with a new expiry date. The `token`\
        \ path parameter is the token's `secret`. If the token does not exist, this\
        \ endpoint returns a 200 OK, but does nothing."
      operationId: updateApiToken
      parameters:
      - explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateApiTokenSchema'
        description: updateApiTokenSchema
        required: true
      responses:
        "200":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "415":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/setSamlSettings_415_response'
          description: The operation does not support request payloads of the provided
            type. Please ensure that you're using one of the listed payload types
            and that you have specified the right content type in the "content-type"
            header.
      summary: Update API token
      tags:
      - API tokens
  /api/admin/user-admin:
    post:
      description: Creates a new user with the given root role.
      operationId: createUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createUserSchema'
        description: createUserSchema
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createUserResponseSchema'
          description: The resource was successfully created.
          headers:
            location:
              description: The location of the newly created resource.
              explode: false
              schema:
                format: uri
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
      summary: Create a new user
      tags:
      - Users
  /api/admin/user-admin/{id}:
    delete:
      description: Deletes the user with the given userId
      operationId: deleteUser
      parameters:
      - description: a user id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: Delete a user
      tags:
      - Users
    get:
      description: Will return a single user by id
      operationId: getUser
      parameters:
      - description: a user id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/userSchema'
          description: userSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: Get user
      tags:
      - Users
    put:
      description: Only the explicitly specified fields get updated.
      operationId: updateUser
      parameters:
      - description: a user id
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateUserSchema'
        description: updateUserSchema
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createUserResponseSchema'
          description: createUserResponseSchema
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_400_response'
          description: The request data does not match what we expect.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: Update a user
      tags:
      - Users
  /api/admin/projects/{projectId}/overview:
    get:
      description: "This endpoint returns an overview of the specified projects stats,\
        \ project health, number of members, which environments are configured, and\
        \ the features types in the project."
      operationId: getProjectOverview
      parameters:
      - explode: false
        in: path
        name: projectId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/projectOverviewSchema'
          description: projectOverviewSchema
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: Get an overview of a project.
      tags:
      - Projects
  /api/admin/environments/{name}/on:
    post:
      description: Makes it possible to enable this environment for a project. An
        environment must first be globally enabled using this endpoint before it can
        be enabled for a project
      operationId: toggleEnvironmentOn
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: Toggle the environment with `name` on
      tags:
      - Environments
  /api/admin/environments/{name}/off:
    post:
      description: Removes this environment from the list of available environments
        for projects to use
      operationId: toggleEnvironmentOff
      parameters:
      - explode: false
        in: path
        name: name
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: This response has no body.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_401_response'
          description: "Authorization information is missing or invalid. Provide a\
            \ valid API token as the `authorization` header, e.g. `authorization:*.*.my-admin-token`."
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSamlSettings_403_response'
          description: "The provided user credentials are valid, but the user does\
            \ not have the necessary permissions to perform this operation"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getRoleById_404_response'
          description: The requested resource was not found.
      summary: Toggle the environment with `name` off
      tags:
      - Environments
components:
  schemas:
    apiTokenSchema:
      additionalProperties: true
      description: "An overview of an [Unleash API token](https://docs.getunleash.io/reference/api-tokens-and-client-keys)."
      example:
        createdAt: 2023-04-19T08:15:14Z
        environment: development
        seenAt: 2023-04-19T08:15:14Z
        projects:
        - developerexperience
        - enterprisegrowth
        tokenName: some-user
        project: developerexperience
        alias: randomid-or-some-alias
        secret: project:environment.xyzrandomstring
        type: client
        expiresAt: 2023-04-19T08:15:14Z
        username: a-name
      properties:
        secret:
          description: The token used for authentication.
          example: project:environment.xyzrandomstring
          type: string
        username:
          deprecated: true
          description: This property was deprecated in Unleash v5. Prefer the `tokenName`
            property instead.
          example: a-name
          type: string
        tokenName:
          description: A unique name for this particular token
          example: some-user
          type: string
        type:
          description: The type of API token
          enum:
          - client
          - admin
          - frontend
          example: client
          type: string
        environment:
          description: The environment the token has access to. `*` if it has access
            to all environments.
          example: development
          type: string
        project:
          description: The project this token belongs to.
          example: developerexperience
          type: string
        projects:
          description: "The list of projects this token has access to. If the token\
            \ has access to specific projects they will be listed here. If the token\
            \ has access to all projects it will be represented as `[*]`"
          example:
          - developerexperience
          - enterprisegrowth
          items:
            type: string
          type: array
        expiresAt:
          description: The token's expiration date. NULL if the token doesn't have
            an expiration set.
          example: 2023-04-19T08:15:14Z
          format: date-time
          nullable: true
          type: string
        createdAt:
          description: When the token was created.
          example: 2023-04-19T08:15:14Z
          format: date-time
          type: string
        seenAt:
          description: When the token was last seen/used to authenticate with. NULL
            if the token has not yet been used for authentication.
          example: 2023-04-19T08:15:14Z
          format: date-time
          nullable: true
          type: string
        alias:
          description: Alias is no longer in active use and will often be NULL. It's
            kept around as a way of allowing old proxy tokens created with the old
            metadata format to keep working.
          example: randomid-or-some-alias
          nullable: true
          type: string
      required:
      - createdAt
      - project
      - projects
      - secret
      - tokenName
      - type
      type: object
    apiTokensSchema:
      additionalProperties: true
      description: "An object with [Unleash API tokens](https://docs.getunleash.io/reference/api-tokens-and-client-keys)"
      example:
        tokens:
        - createdAt: 2023-04-19T08:15:14Z
          environment: development
          seenAt: 2023-04-19T08:15:14Z
          projects:
          - developerexperience
          - enterprisegrowth
          tokenName: some-user
          project: developerexperience
          alias: randomid-or-some-alias
          secret: project:environment.xyzrandomstring
          type: client
          expiresAt: 2023-04-19T08:15:14Z
          username: a-name
        - createdAt: 2023-04-19T08:15:14Z
          environment: development
          seenAt: 2023-04-19T08:15:14Z
          projects:
          - developerexperience
          - enterprisegrowth
          tokenName: some-user
          project: developerexperience
          alias: randomid-or-some-alias
          secret: project:environment.xyzrandomstring
          type: client
          expiresAt: 2023-04-19T08:15:14Z
          username: a-name
      properties:
        tokens:
          description: A list of Unleash API tokens.
          items:
            $ref: '#/components/schemas/apiTokenSchema'
          type: array
      required:
      - tokens
      type: object
    constraintSchema:
      additionalProperties: true
      description: "A strategy constraint. For more information, refer to [the strategy\
        \ constraint reference documentation](https://docs.getunleash.io/reference/activation-strategies#constraints)"
      properties:
        contextName:
          description: The name of the context field that this constraint should apply
            to.
          example: appName
          type: string
        operator:
          description: "The operator to use when evaluating this constraint. For more\
            \ information about the various operators, refer to [the strategy constraint\
            \ operator documentation](https://docs.getunleash.io/reference/activation-strategies#constraint-operators)."
          enum:
          - NOT_IN
          - IN
          - STR_ENDS_WITH
          - STR_STARTS_WITH
          - STR_CONTAINS
          - NUM_EQ
          - NUM_GT
          - NUM_GTE
          - NUM_LT
          - NUM_LTE
          - DATE_AFTER
          - DATE_BEFORE
          - SEMVER_EQ
          - SEMVER_GT
          - SEMVER_LT
          example: IN
          type: string
        caseInsensitive:
          default: false
          description: Whether the operator should be case sensitive or not. Defaults
            to `false` (being case sensitive).
          type: boolean
        inverted:
          default: false
          description: "Whether the result should be negated or not. If `true`, will\
            \ turn a `true` result into a `false` result and vice versa."
          type: boolean
        values:
          description: The context values that should be used for constraint evaluation.
            Use this property instead of `value` for properties that accept multiple
            values.
          example:
          - my-app
          - my-other-app
          items:
            type: string
          type: array
        value:
          description: The context value that should be used for constraint evaluation.
            Use this property instead of `values` for properties that only accept
            single values.
          example: my-app
          type: string
      required:
      - contextName
      - operator
      type: object
    contextFieldSchema:
      additionalProperties: true
      description: "A representation of a [context field](https://docs.getunleash.io/reference/unleash-context)."
      example:
        legalValues:
        - description: Deep fuchsia
          value: '#c154c1'
        - description: Deep fuchsia
          value: '#c154c1'
        createdAt: 2023-06-29T10:19:00Z
        stickiness: true
        sortOrder: 900
        name: userId
        description: Used to uniquely identify users
        usedInFeatures: 3
        usedInProjects: 2
      properties:
        name:
          description: The name of the context field
          example: userId
          type: string
        description:
          description: The description of the context field.
          example: Used to uniquely identify users
          nullable: true
          type: string
        stickiness:
          description: "Does this context field support being used for [stickiness](https://docs.getunleash.io/reference/stickiness)\
            \ calculations"
          example: true
          type: boolean
        sortOrder:
          description: Used when sorting a list of context fields. Is also used as
            a tiebreaker if a list of context fields is sorted alphabetically.
          example: 900
          type: integer
        createdAt:
          description: When this context field was created
          example: 2023-06-29T10:19:00Z
          format: date-time
          nullable: true
          type: string
        usedInFeatures:
          description: Number of projects where this context field is used in
          example: 3
          minimum: 0
          nullable: true
          type: integer
        usedInProjects:
          description: Number of projects where this context field is used in
          example: 2
          minimum: 0
          nullable: true
          type: integer
        legalValues:
          description: Allowed values for this context field schema. Can be used to
            narrow down accepted input
          items:
            $ref: '#/components/schemas/legalValueSchema'
          type: array
      required:
      - name
      type: object
    contextFieldsSchema:
      description: A list of context fields
      items:
        $ref: '#/components/schemas/contextFieldSchema'
      type: array
    createApiTokenSchema:
      description: "The data required to create an [Unleash API token](https://docs.getunleash.io/reference/api-tokens-and-client-keys)."
      oneOf:
      - $ref: '#/components/schemas/createApiTokenSchema_oneOf'
      - $ref: '#/components/schemas/createApiTokenSchema_oneOf_1'
      - $ref: '#/components/schemas/createApiTokenSchema_oneOf_2'
      - $ref: '#/components/schemas/createApiTokenSchema_oneOf_3'
      type: object
    createContextFieldSchema:
      description: Data used to create a context field configuration.
      properties:
        description:
          description: A description of the context field
          example: The user's subscription tier
          type: string
        stickiness:
          description: "`true` if this field should be available for use with [custom\
            \ stickiness](https://docs.getunleash.io/reference/stickiness#custom-stickiness),\
            \ otherwise `false`"
          example: false
          type: boolean
        sortOrder:
          description: How this context field should be sorted if no other sort order
            is selected
          example: 2
          type: integer
        legalValues:
          description: A list of allowed values for this context field
          example:
          - value: gold
          - value: silver
          - value: crystal
          items:
            $ref: '#/components/schemas/legalValueSchema'
          type: array
        name:
          description: The name of the context field.
          example: subscriptionTier
          type: string
      required:
      - name
      type: object
    createFeatureNamingPatternSchema:
      description: Create a feature naming pattern
      example:
        pattern: "^[A-Za-z]+\\.[A-Za-z]+\\.[A-Za-z0-9-]+$"
        description: |-
          <project>.<featureName>.<ticket>

          The flag name should contain the project name, the feature name, and the ticket number, each separated by a dot.
        example: dx.feature1.1-135
      properties:
        pattern:
          description: "A JavaScript regular expression pattern, without the start\
            \ and end delimiters. Optional flags are not allowed."
          example: "^[A-Za-z]+\\.[A-Za-z]+\\.[A-Za-z0-9-]+$"
          nullable: true
          type: string
        example:
          description: An example of a feature name that matches the pattern. Must
            itself match the pattern supplied.
          example: dx.feature1.1-135
          nullable: true
          type: string
        description:
          description: A description of the pattern in a human-readable format. Will
            be shown to users when they create a new feature flag.
          example: |-
            <project>.<featureName>.<ticket>

            The flag name should contain the project name, the feature name, and the ticket number, each separated by a dot.
          nullable: true
          type: string
      required:
      - pattern
      type: object
    createFeatureStrategySchema:
      description: Create a strategy configuration in a feature
      properties:
        name:
          description: The name of the strategy type
          example: flexibleRollout
          type: string
        title:
          description: A descriptive title for the strategy
          example: Gradual Rollout 25-Prod
          nullable: true
          type: string
        disabled:
          description: A toggle to disable the strategy. defaults to false. Disabled
            strategies are not evaluated or returned to the SDKs
          example: false
          nullable: true
          type: boolean
        sortOrder:
          description: The order of the strategy in the list
          example: 9999
          type: number
        constraints:
          description: A list of the constraints attached to the strategy. See https://docs.getunleash.io/reference/activation-strategies#constraints
          example:
          - values:
            - "1"
            - "2"
            inverted: false
            operator: IN
            contextName: appName
            caseInsensitive: false
          items:
            $ref: '#/components/schemas/constraintSchema'
          type: array
        variants:
          description: Strategy level variants
          items:
            $ref: '#/components/schemas/createStrategyVariantSchema'
          type: array
        parameters:
          additionalProperties:
            type: string
          description: A list of parameters for a strategy
          type: object
        segments:
          description: Ids of segments to use for this strategy
          example:
          - 1
          - 2
          items:
            type: number
          type: array
      required:
      - name
      type: object
    createPatSchema:
      description: "Describes the properties required to create a [personal access\
        \ token](https://docs.getunleash.io/reference/api-tokens-and-client-keys#personal-access-tokens),\
        \ or PAT. PATs are automatically scoped to the authenticated user."
      properties:
        description:
          description: The PAT's description.
          example: user:xyzrandomstring
          type: string
        expiresAt:
          description: The PAT's expiration date.
          example: 2023-04-19T08:15:14Z
          format: date-time
          type: string
      required:
      - description
      - expiresAt
      type: object
    createStrategyVariantSchema:
      description: This is an experimental property. It may change or be removed as
        we work on it. Please don't depend on it yet. A strategy variant allows you
        to attach any data to strategies instead of only returning `true`/`false`.
        Strategy variants take precedence over feature variants.
      properties:
        name:
          description: The variant name. Must be unique for this feature flag
          example: blue_group
          type: string
        weight:
          description: "The weight is the likelihood of any one user getting this\
            \ variant. It is an integer between 0 and 1000. See the section on [variant\
            \ weights](https://docs.getunleash.io/reference/feature-toggle-variants#variant-weight)\
            \ for more information"
          maximum: 1000
          minimum: 0
          type: integer
        weightType:
          description: "Set to `fix` if this variant must have exactly the weight\
            \ allocated to it. If the type is `variable`, the weight will adjust so\
            \ that the total weight of all variants adds up to 1000. Refer to the\
            \ [variant weight documentation](https://docs.getunleash.io/reference/feature-toggle-variants#variant-weight)."
          enum:
          - variable
          - fix
          example: fix
          type: string
        stickiness:
          description: "The [stickiness](https://docs.getunleash.io/reference/feature-toggle-variants#variant-stickiness)\
            \ to use for distribution of this variant. Stickiness is how Unleash guarantees\
            \ that the same user gets the same variant every time"
          example: custom.context.field
          type: string
        payload:
          $ref: '#/components/schemas/createStrategyVariantSchema_payload'
      required:
      - name
      - stickiness
      - weight
      - weightType
      type: object
    createUserResponseSchema:
      additionalProperties: true
      description: An Unleash user after creation
      example:
        loginAttempts: 3
        inviteLink: http://localhost:4242/invite-link/some-secret
        accountType: User
        isAPI: true
        scimId: 01HTMEXAMPLESCIMID7SWWGHN6
        createdAt: 2023-06-30T11:41:00.123Z
        seenAt: 2023-06-30T11:42:00.345Z
        rootRole: 1
        deletedSessions: 1
        emailSent: false
        permissions:
        - permissions
        - permissions
        activeSessions: 2
        imageUrl: https://example.com/242x200.png
        name: User
        id: 123
        email: user@example.com
        username: hunter
      properties:
        id:
          description: The user id
          example: 123
          type: integer
        isAPI:
          deprecated: true
          description: Deprecated in v5. Used internally to know which operations
            the user should be allowed to perform
          example: true
          type: boolean
        name:
          description: Name of the user
          example: User
          nullable: true
          type: string
        email:
          description: Email of the user
          example: user@example.com
          type: string
        username:
          description: A unique username for the user
          example: hunter
          nullable: true
          type: string
        imageUrl:
          description: URL used for the user profile image
          example: https://example.com/242x200.png
          type: string
        inviteLink:
          description: "If the user is actively inviting other users, this is the\
            \ link that can be shared with other users"
          example: http://localhost:4242/invite-link/some-secret
          type: string
        loginAttempts:
          description: How many unsuccessful attempts at logging in has the user made
          example: 3
          minimum: 0
          type: integer
        emailSent:
          description: Is the welcome email sent to the user or not
          example: false
          type: boolean
        rootRole:
          $ref: '#/components/schemas/createUserResponseSchema_rootRole'
        seenAt:
          description: The last time this user logged in
          example: 2023-06-30T11:42:00.345Z
          format: date-time
          nullable: true
          type: string
        createdAt:
          description: The user was created at this time
          example: 2023-06-30T11:41:00.123Z
          format: date-time
          type: string
        accountType:
          description: A user is either an actual User or a Service Account
          example: User
          type: string
        permissions:
          description: Deprecated
          items:
            type: string
          type: array
        scimId:
          description: "The SCIM ID of the user, only present if managed by SCIM"
          example: 01HTMEXAMPLESCIMID7SWWGHN6
          nullable: true
          type: string
        activeSessions:
          description: Count of active browser sessions for this user
          example: 2
          nullable: true
          type: integer
        deletedSessions:
          description: Experimental. The number of deleted browser sessions after
            last login
          example: 1
          type: number
      required:
      - id
      type: object
    createUserSchema:
      additionalProperties: true
      description: "The payload must contain at least one of the name and email properties,\
        \ though which one is up to you. For the user to be able to log in to the\
        \ system, the user must have an email."
      properties:
        username:
          description: The user's username. Must be provided if email is not provided.
          example: hunter
          type: string
        email:
          description: The user's email address. Must be provided if username is not
            provided.
          example: user@example.com
          type: string
        name:
          description: The user's name (not the user's username).
          example: Sam Seawright
          type: string
        password:
          description: Password for the user
[...]
